[2018-01-04 08:11] ramanbuttar opened #3 "Restricting which boards to drag items to"
First of all, this is an elegant, clean, and minimalist solution and I'm going to start using it in my internal project.

I have one feature request. I'd like to specify for each board the titles/ids of other boards the items can be dragged to.

Maybe even have a default option to only be able to drag items to adjacent boards.

[2018-01-04 11:40] riktar commented on #3
@ramanbuttar Thank you for your compliments.
I've added "dragTo" option for board object, clone and give a look to the "example" folder.

Cheers

[2018-01-04 11:41] #3 closed

[2018-01-04 21:12] ramanbuttar opened #4 "Provide an optional URL/endpoint option for each item to validate the drag operation"
Another feature request

What I am thinking is that each item has an optional `url` or `endpoint`, or `validate` option where I can slot in the URL for a `json` endpoint. Upon finishing the drag, this an AJAX call gets triggered to this URL and if the response is `true` or `success`, the drag operation persists, otherwise it's reverted.

How this will work for my use case is that I will have a sta

[2018-01-04 21:18] ramanbuttar opened #5 "Option to disable drag/drop on the board"
Another feature request: Provide an option to keep the boards affixed and not allow drag/drop operations on the board itself.

[2018-01-04 21:21] ramanbuttar opened #6 "Allow multiple classes for board header"
I'd like to apply multiple classes to the board header but there's support for only one.

`class: 'bg-info'` works
`class: 'bg-info text-center'` errors out
`class: 'bg-info.text-center'` doesn't work
`class: ['bg-info', 'text-center']` doesn't work

[2018-01-04 22:35] ramanbuttar opened #7 "dragendEl should return ids of source and target boards"
`dragendEl` method should also return ids of source and target boards so the information can be used to inform the backend of where an element started from, and where the element ended up at.

[2018-01-05 08:42] riktar commented on #7
There is `dropEl` method for this, look the Readme

[2018-01-05 08:42] #7 closed

[2018-01-17 17:25] ramanbuttar commented on #4
Hi @riktar
Any updates on the issues I posted here? How can I help you with these?

[2018-01-25 16:06] riktar commented on #6
Now you can use
`class: 'className1,className2,...'`
to declarate multiple classes for board header

[2018-01-25 16:08] #6 closed

[2018-01-25 17:06] riktar commented on #5
Now you can use the `dragBoards` option to activate drag/drop on all boards

[2018-01-25 17:06] #5 closed

[2018-01-25 17:10] riktar commented on #4
I think this feature request is a redundancy.
It is possible to simply define everything through the various events made available.

[2018-01-25 17:10] #4 closed

[2018-02-08 19:41] 11fishem opened #9 "Implementing package.json/server"
Hi!

I'm a bit of a noob with using servers and package.json, I have a project i'm implementing this into and am having some trouble with the package.json and getting the server running to save changes made while using the kanban board. I've included a link to the project, would be able to talk over google hangouts as well!

https://glitch.com/edit/#!/studio821?path=package.json:16:46

[2018-02-09 10:54] riktar commented on #9
Hi @11fishem jKanban it's a Javascript library and can be inserted into your pages by simply including files in the `dist` folder.

If you want to save the data of your board you can implement any server side solution (PHP, Node, etc...) and use the `events` provided to save data on your database.

ex. `dragendEl` fires when you drop a board's element, so you can make an AJAX request to a your scr

[2018-02-12 16:33] #9 closed

[2018-04-10 15:27] dbleier opened #11 "Demo site not working"
I have been trying to connect to your demo site: http://www.riccardotartaglia.it/jkanban/
but keeping getting a connection failed/timed out error.

[2018-04-10 15:46] riktar commented on #11
It's working :)

[2018-04-10 15:46] #11 closed

[2018-04-18 16:18] asabashi44 opened #12 "Get the order of the tabs"
How can get the order of the tabs. When move the columns i cant store the order. I mean in the event dropEndl get the order and save the sequence.

[2018-04-19 10:45] riktar commented on #12
Hi @asabashi44 , currently jKanban does not support the return of positions or sorting, you should do it with your own json and the use of events.

I will add this feature in the next release.

[2018-05-07 02:32] ryo-ma opened #14 "Release to npm"
Will not jkanban release to npm?

[2018-05-09 16:15] riktar commented on #14
Hi @ryo-ma, I will release it soon :)

[2018-05-09 16:15] #14 closed

[2018-05-28 16:05] marcosrocha85 opened #15 "DragTo when no card moved"
I noticed that when I set the dragTo property and start dragging an item, the boards not allowed to drop became brighter. But when I drop the card in the same position it was, intending to cancel move to another board, the entire kanban doesn't repaint those disabled boards. The kanban is set to dragBoards: false

![captura de tela de 2018-05-28 13-02-30](https://user-images.githubusercontent.com/

[2018-05-28 16:15] marcosrocha85 commented on #15
Tested a alert on dropEl when moving the "Another card" to it's same position and noticed that the alert didn't popped out. Maybe that's a bug from dragula?

[2018-05-28 16:18] riktar commented on #15
@marcosrocha85 When you drag an elemento in the same position itìs not a complete drag but an "undo" move so it's correct that the alert didn't popped out.

[2018-05-28 17:09] marcosrocha85 commented on #15
Here it is:
[code]

[2018-05-29 14:11] marcosrocha85 commented on #15
Pull request #16 created.

[2018-06-01 11:45] riktar commented on #15
Resolved in pull request #16

[2018-06-01 11:45] #15 closed

[2018-06-05 18:00] marcosrocha85 commented on #12
As far as I know, you can get the ID of the tabs on dropEl event by doing.
[code]
I think that would be nice if we could get id by simple doing source.id and target.id. But this workaround is nice for now.

[2018-06-18 14:18] marcosrocha85 opened #17 "Cancel drag"
I'm trying to cancel a drag event in order to prevent moving cards on a automatic board, but when I call `jkanban.drake.cancel(true)` the dragula raises an exception saying "el is null" on touchy function.
Do you have any suggestion to implement a "beforeDrag" event in order to validate if a card can be moved? I'm intended to develop that on jKanban.

[2018-06-18 14:27] marcosrocha85 commented on #17
For those who want do that outside jKanban, you can do `jkanban.drake.cancel(true)` at dropEl event. For example:
[code]

[2018-06-29 14:54] marcosrocha85 commented on #17
Noticed that `dropEl` fires even when the property `"dragTo"` is set and the card is dropped on a _target_ board that supposely shouldn't accept dragging from _source_ board. Is it possible to get the `"dragTo"` of target at `dropEl` element?

[2018-08-08 07:11] azarzaza opened #18 "Scroll to horizontally is not working"
when we added board out of current viewport and then drag them over the last board it is not scrolling

[2018-08-17 18:56] marcosrocha85 commented on #18
@azarzaza I have a board with a couple of boards out of viewport. In my case I enabled the x overflow to scroll the screen. I'll test some cases to try reproduce your issue. If you could send us a piece of your HTML which is doind that, it will be much appreciated.

[2018-08-17 20:34] marcosrocha85 opened #19 "Custom attributes to items"
Wouldn't be nice if we had custom attributes to items of a board with data- like properties? Here's a suggestion:

[code]
Usage example:
[code]

That will produce a result like this:
[code]
If it's ok, I can create a pull request.

[2018-08-30 14:30] marcosrocha85 opened #20 "Element is null at remove"
I am developing a collaborative Kanban for a couple of users and I have a capability of remove items from a board. In that, I call jkanban.removeElement(elementId) to remove a card from current Kanban in order to add at another Kanban (like "Move" of Trello). The problem is when I call jkanban.remove() when the item is not there, jKanban raises a "el is null" error because of:

[code]
I suggest to

[2018-08-31 07:15] riktar commented on #19
Hi @marcosrocha85
It's a great idea, a pull request will welcome :smile:
Thanks for support!

[2018-09-11 12:40] #20 closed

[2018-09-11 12:40] #19 closed

[2018-09-19 20:55] jhonatanjunio opened #22 "Item callback "drop" firing event ignoring the "dragTo" board values"
When I set the `dragTo` value to a board, the `item` callback`drop` is ignoring `dragTo` possible limitations.
In my project, I'm allowing the items to move through the boards one at once. It's working fine, but when this is done, I have to change the `status_id` of this item I dragged to the next board. To accomplish this, I created an `$.ajax` to post the new id to that Item. The problem is: the

[2018-09-20 14:04] jhonatanjunio commented on #22
Of course! Here you go!
[code]
This is running under an Ajax call that collect items from database to fill the boards, based on their statuses. I simplified the names I used (which it was in portuguese) to a close approach, focusing on the `drop` callback I mentioned. Then, here you have the PHP Laravel function which changes the item status:

[code]

Thanks in advance, @riktar !

[2018-09-24 09:51] riktar commented on #22
Hi @jhonatanjunio.
This is a bug to fix in the library, because also when you drop an item on an invalid board jKanban trigger anyway thte drop event. I'm working on it :smile:

[2018-09-24 13:37] jhonatanjunio commented on #22
Nice, @riktar ! I really appreciate that.
Let me know if I can help you somehow or even if you have news about this please?

Again, thanks and congrats for the amazing work!

[2018-09-25 18:02] kojaktaha opened #23 "How can I know which board was the elemnt dropped to?"
How can I Know which board was the element dropped to?

[2018-09-27 17:33] marcosrocha85 commented on #23
Hello @kojaktaha, there is an event called `dropEl` which you can track where element was dropped.
[code]

[2018-09-27 17:37] marcosrocha85 commented on #22
I had that issue either. Unlikely **dragula** fires the drop event even when we had set **dragTo** attribute.
@riktar I guess expose board dragTo property can help developer to handle that. I saying just because at my application I handle item sorting, drag and drop, user permissions and so on.

[2018-09-27 17:53] marcosrocha85 commented on #22
@jhonatanjunio My example of code:
[code]

[2018-09-27 18:12] marcosrocha85 commented on #18
I've looking for a possible way to do that and came to JoshyFrancis/drag_auto_scroll.

[2018-09-28 16:05] kojaktaha commented on #23
Thanks

[2018-09-28 16:05] #23 closed

[2018-09-28 20:14] jhonatanjunio commented on #22
Thanks, @marcosrocha85 ! This solved my problem.
I had to remove the `var new_board = target.children("header").data('board_id');` line, which was throwing the error `target.children its not a function`.
Anyways, I sorted this out and everything is working as expected.
Thanks a lot!

**Regards**,
Jhon

[2018-09-28 20:14] #22 closed

[2018-10-01 21:37] bazzacad opened #25 "AddForm is dragable"
If I run the example page & hit the + button to call the "AddForm" option, the form is dragable

![image](https://user-images.githubusercontent.com/23222121/46317298-72147400-c587-11e8-926f-7c5dd7dcef9f.png)

[2018-10-01 21:39] bazzacad opened #26 "Feature Request: Footer option"
Like the header, have the ability for a footer with it's own class. So you could total up some of the custom data options.

[2018-10-02 00:41] bazzacad commented on #23
I have this question too. The "target" shows me all the elements on the board I dropped on, but how do I get the ID of the board I dropped on?
![image](https://user-images.githubusercontent.com/23222121/46323018-0808c880-c5a1-11e8-9013-a550c46b5882.png)

I want these IDs:
![image](https://user-images.githubusercontent.com/23222121/46323043-2a024b00-c5a1-11e8-8aff-f0b672144d37.png)

[2018-10-02 09:21] kojaktaha commented on #23
use : target.parentNode.dataset.id

[2018-10-02 14:51] marcosrocha85 commented on #26
jKanban already adds a footer DOM to a board. In my case, I add contents to that in order to create new items instead of use jKanban native add button. @bazzacad, what kind of data you want do display at footer?

[2018-10-02 14:53] marcosrocha85 commented on #23
Or if you're using jQuery: `$(target.parentElement).data("id")`

[2018-10-02 15:01] bazzacad commented on #26
Thanks for the info. How to I access the footer? You're not referring to the AddForm method are you?
I have custom data on my elements for staff work hours. I'd like to total them up in the footer.

[2018-10-02 15:02] bazzacad commented on #23
Thanks very much both of you.

[2018-10-02 15:04] marcosrocha85 commented on #26
No, if you look at developer tools you will see a <main> tag and after that a <footer>. I access that by doing:
[code]

[2018-10-02 15:11] marcosrocha85 commented on #25
@riktar We can solve that by adding form at footer instead of board itself.
[code]

[2018-10-02 15:39] riktar commented on #26
@bazzacad jKanban does not allow you to configure the content of a board's footer, but it automatically creates the <footer> tag in a board that you can easily access using javascript.

If you use jQuery you can use the @marcosrocha85 solution.

[2018-10-03 17:20] bluewhale8 opened #29 "Option dragBoards not working"
`dragBoards: false` or `dragBoards: true` whatever boards always draggable.

[2018-10-03 17:31] bluewhale8 commented on #29
Issue only in https://www.riccardotartaglia.it/jkanban/dist/jkanban.min.js?v=1.1
On repo all ok.

[2018-10-03 17:31] #29 closed

[2018-10-05 15:57] #26 closed

[2018-10-05 15:57] riktar commented on #25
resolved in #27

[2018-10-05 15:57] #25 closed

[2018-10-10 14:38] marcosrocha85 commented on #12
@asabashi44 can you check if the last commit helps you with order of boards?

[2018-10-22 00:08] poetawd opened #30 "Sort Itens inside a Board"
Is it possible to "sort" the itens inside a board ?

Or, is it possible to change the position of a item inside the board using javascript ?

I think that I can remove all itens and add then again in a diferent order... but, before I try this, I wanted to ask you if this is already possible...

THANK YOU !!!!

[2018-10-22 20:31] marcosrocha85 commented on #30
Did you mean, programatically?
I pretty sure there's an other way instead using jQuery. Actually I'd implemented that by removing an item and reinserting at desired order.
First of all I return the sorting order of all items. Then I find, remove, and reinsert each item.
[code]

[2018-10-22 20:54] poetawd commented on #30
Awesome !

This is how I did it:

[code]

[2018-10-23 16:05] zhenshaav opened #31 "Adding a hyperlink or button along with the title in the tabs not working."
I want to add a hyperlink or button to the title, so that i can give option to edit tabs. Currently the hyperlink  added inside the tabs along with the title doesnt work...

[2018-10-23 16:06] #30 closed

[2018-10-23 17:16] marcosrocha85 commented on #31
Hello @zhenshaav, the title property allows you to insert any kind of HTML. In my case I did:
[code]
To make something like this:
![image](https://user-images.githubusercontent.com/7257227/47378328-2bb9bd00-d6ce-11e8-8733-bf9c9704ba05.png)

[2018-10-24 18:27] poetawd opened #32 "How to make a Board not movable ?"
Is there a way to make a board not movable ? Dragable ?

In my case, I am building a Kanban board that has a Backlog and a Finished Boards.... I want to make those statics... not movables....

Is there a way to do this ?

Thank you

[2018-10-24 18:42] poetawd commented on #32
This is how I made it.... It is a HACK... but works....

[code]
And Added the class kanban-fixed to NOT MOVABLE boards....

It would be VERY NICE to have a option in board object to be not movable....

Thank you

[2018-10-24 19:03] poetawd commented on #32
The only problem that I cant fix is that other boards still can take place of Backlog and Finished boards... :(

[2018-10-25 13:22] marcosrocha85 commented on #32
In my case I decided to make all boards fixed so I haven't had that problem. In any case, I guess you can cancel dragging at "drop" event of jKanban by comparing target and source and then cancel dragula like:
[code]

[2018-10-25 17:31] poetawd commented on #32
Awwesssooommmeee !!!

Thank you for the reply !

But still, would be a great addition to have a option to make certain board
static...

Em qui, 25 de out de 2018 às 10:22, Marcos Rocha <notifications@github.com>
escreveu:

--

* Gabriel Paiva*

*  socio-diretor*

  ceo@emog.com.br
  CEL: 55 31 8298-9292

*  TEL*: 55 31 3832-8047

www.emog.com.br

*P* Antes de Imprimir pense em seu compromisso com

[2018-10-26 13:30] marcosrocha85 commented on #31
You won't achieve that without some code. When you click at an item you actually clicking in a DIV. What is your goal by adding a hyperlink on item?

[2018-10-26 13:35] marcosrocha85 commented on #17
Suggestion: Don't fire dropEl when the item is now allowed to receive elements from dragTo property.

[2018-10-26 13:37] marcosrocha85 commented on #12
@riktar Can you close this issue?

[2018-10-26 21:15] brunonetadmin opened #33 "Add a ScrollBar inside the Board"
Add support to a native or at least, to custom Scrollbars (like SlimScroll), right now, the component that holds the items don´t support this, at least not without losing the drag-and-drop functionality.

Thanks.

[2018-10-26 21:44] brunonetadmin commented on #5
I don´t see any option to not allow drag inside the original board. The dropEl its called even if i drag a item to the same board. Its possible to create this 'feature'?

[2018-10-29 12:49] marcosrocha85 commented on #5
Hi @brunonetadmin , in fact dropEl is called even at the same origin. Are you trying to prevent reordening? Tell us more about what are you trying to achieve.

[2018-10-29 13:22] marcosrocha85 commented on #33
Hello @brunonetadmin , I achieved scrollbar by doing some CSS modifications to built DOM of jKanban. Just after initialize I set my main div to full height.
[code]
And then I sought for class kanban-container adding also full height to it:
[code]
Of course each board has to be set to full-heigt as well:
[code]
And finally set kanban-drag to overflow-auto:
[code]
Then I have a result like this:
![i

[2018-10-29 14:46] #31 closed

[2018-10-29 14:47] #32 closed

[2018-10-29 19:00] SachinAnnam opened #34 "get the ID of source board on dropEl method"
Hello Sir,
I am using this jkanban in SharePoint and am trying to change the status of dragged item using dropEI method.
To achieve this, i thinking to invoke a custom method using element ID and board ID.
Am able to get the element ID but i am stuck with board ID.

Please help me with some snippet so that i can proceed with this.

[2018-10-29 20:39] brunonetadmin commented on #5
I´m trying to execute the action of consulting(ajax) the backend, and showing the status change notifications, but i don´t wanna make anything if the item its dropped in the same column. And i´m not using reordering itens.

And how i trigger a custom action for example, if i try to move a item that are forbidden to go to that column?

[2018-10-30 12:42] marcosrocha85 commented on #5
You can check if source and target are the same. If so, you don't fire ajax request. ;)
[code]

[2018-10-30 12:46] marcosrocha85 commented on #34
Hello @SachinAnnam, you are using dropEl event aren't you?
You can get parent board from item by doing some DOM calls:
[code]

[2018-10-30 14:05] #34 closed

[2018-11-08 11:47] F-Medeiros opened #35 "Drag and Drop in mobile"
Is plugin not compatible with mobile?

[2018-11-09 15:10] rhuodox commented on #35
Hi!

I tested in my smartphone (Android 8.1) and works fine, with without any adaptation.

Regards.

[2018-11-12 12:44] rhuodox opened #36 "Copy item between boards"
Hey there,

How make a copy of item between boards? I need use some extension or adaptation from Dragula or exists some function or option for the item?

Regards.

[2018-11-12 18:20] marcosrocha85 commented on #35
I use it on an Android and iPad and can use it very well. I can drag and drop items, rearrange them and even touch on it to open my jQuery modal forms.

[2018-11-13 10:14] #36 closed

[2018-11-13 10:14] #35 closed

[2018-11-13 22:13] Bizcho opened #37 "Adding only one button"
we want to have only one button for adding new issues, on the first board. Is there a way to do this?

[2018-11-14 01:52] marcosrocha85 commented on #37
Hello @Bizcho, please take a look at #31. You can disable + buttons and do that technique.

[2018-11-22 20:32] #37 closed

[2018-11-23 14:18] viniciuszim commented on #34
How can I get the board id and board order when I drag the whole board?

[2018-11-23 17:23] viniciuszim opened #38 "Move board programmatically"
How can I move a board programmatically?

I want to fix a board in the first position. So I want to move back to the initial position even if another board has been moved to the first one.

I know that I can make a board not draggable, but if you change another card for that position, it will be moved.

[2018-11-23 17:44] viniciuszim commented on #38
I have tried this code, but it didn't work:

the drake.cancel method doesn't work

[2018-11-23 19:20] marcosrocha85 commented on #38
Hello @viniciuszim, to cancel board drop event, please use kanban.drakeBoard.cancel(true);

https://jsfiddle.net/zkjfemgL/

[2018-11-24 02:50] ay91 opened #39 "Edit board elements"
Hi, is it possible to edit elements in the board?

Also, can we programatically move elements from one board to another if certain conditions is met?

Thanks!

[2018-11-26 14:32] vetash opened #40 "Set class to main element"
Hello, how can i change style of main element?
`<main class="kanban-drag"></main>`
![default](https://user-images.githubusercontent.com/8321589/49020322-1b17cd80-f1cb-11e8-928d-5e54e2e47126.png)
I mean i want to set different classes to each `main` elements.

[2018-11-26 18:51] marcosrocha85 commented on #39
Hello @ay91 , please take a look [at this jsfiddle](https://jsfiddle.net/marcosrocha85/Lk9t483r/).

[2018-11-26 18:53] marcosrocha85 commented on #40
Hi @vetash ,
Do you mean the board's **class** property?
[code]

[2018-11-27 00:55] vetash commented on #40
Yes, but `class` param affect only for board title not body.

[2018-12-19 00:58] vetash opened #42 "Release numeration"
Do you have any plans about release versioning?

[2018-12-19 19:37] marcosrocha85 commented on #42
I guess it would be nice.

[2019-01-03 13:00] cmparrela opened #43 "Add class in items"
It would be nice if were possible to add class to items like already have in boards

[2019-01-03 13:07] cmparrela commented on #43
I made a modification to use in my projeto, i added in line 258 next comment  `//create item`

[code]

[2019-01-04 14:08] marcosrocha85 commented on #43
Hello @cmparrela, in a project of mine I set cover image by jQuery. I think css for an item would be handy. I can do a pull request for that. Thank you for your suggestion.

[2019-01-10 12:01] powerProgrammerMa opened #44 "it can use npm? I want use it to react so need npm"

[2019-01-11 15:32] marcosrocha85 commented on #44
Actually I guess isn't that hard to do. I can take a look this weekend.

[2019-01-14 11:07] powerProgrammerMa commented on #44
thanks

[2019-01-21 15:29] MtheCastro commented on #18
+1 not working for me too.

[2019-02-07 11:18] Adioud opened #45 "Every boards duplicate in the board list given as parameter"
Hi !

We have to give a list of boards in order to create our jkanban.
I see that this list have 2x more elements after jkanban creation than before.

For instance, if I have 5 elements in the boardJson given as "boards" parameter, after creation of jkanban I have boardJson.lenght = 10.
This is not good for me because I need this list for other purpose. Duplicate boards are boring the handle.

Loo

[2019-02-07 11:58] marcosrocha85 commented on #45
I never saw that behavior. I have a client with 5 boards and a huge amount of 100+ items per board doing it's job with ajax requests at every interaction. Btw, I guess that is not a DOM problem, but just that boardJson property.

Just in time: I never used that property before. 😳

[2019-02-15 07:00] Atsushi-Eda opened #46 "If the window size is less than 700px, can not drag an element."
![demo](https://user-images.githubusercontent.com/28709061/52837232-3ee71180-3131-11e9-8385-e3f0c664a8bc.gif)

[2019-03-15 00:34] mkooo commented on #45
Why do I get double the object data after creating jkanban?

[code]

The contents of [defaultBoards] are doubled.

[2019-03-15 08:40] riktar commented on #45
Hi @mkooo,  all ids of the boards must be unique, in your code all the boards have `id:'1'`

[2019-03-15 11:06] mkooo commented on #45
Hi, @riktar
Thank you for your comment.
I tried to fix the source code.
However, the problem could not be solved yet.

My object data is only 3 elements,  but the result of [console.log] is 6 elements.

Sorry to trouble you, but could you give me some advice?

[code]

---- result of console.log ----
[code]

[2019-03-15 17:34] riktar commented on #45
@mkooo defaultBoards must be used only for configuration, if you want the boards or elemnet inside jKanban you must use the API [https://github.com/riktar/jkanban#api](url)

[2019-03-19 20:59] conihorse opened #49 "API for boards array"
Hi
Would it be possible to give the API a boards[] level accessor so that we can dump the state out easily (I thought` options.boards[]` would do this, but ran into similar issues as https://github.com/riktar/jkanban/issues/45. )
Thanks also for the library,

[2019-04-30 13:48] riktar commented on #45
fixed in 1d3f2bf90420b291e0531d96d672cbb4c83a648e

[2019-04-30 13:48] #45 closed

[2019-04-30 13:52] #42 closed

[2019-05-22 10:14] jandresampaio opened #50 "Cancel Drop after async function"
Hi,

In our business, our items inside a board have different dragTo boards. In this case, what's the approach to use ?
We've used the dropEl event to validate if user can drop using an async function but in this case, the kanban.drake.cancel(true) will not work in the callback.

Our code:

[code]

We tried to undo the drag and drop by removing and adding element to previous board but it does not

[2019-05-22 17:16] marcosrocha85 commented on #50
Hello @jandresampaio, thank you for using jKanban.

I had something similar in the past and I solved by just getting the old element and adding it again to the board. You have to keep in mind that removing and adding it again will take item to the end of the board.

[code]

[2019-05-23 10:11] riktar commented on #50
Hi, @jandresampaio
Now if the dropEl callback returns `false` the drag will be canceled.
here: https://github.com/riktar/jkanban/commit/d7ef0efec048595cd0dba34744028b19e55af19c

[2019-05-23 10:12] #50 closed

[2019-05-23 10:14] riktar commented on #17
fixed in: https://github.com/riktar/jkanban/commit/d7ef0efec048595cd0dba34744028b19e55af19c

[2019-05-23 10:14] #17 closed

[2019-05-23 10:15] #38 closed

[2019-05-23 10:15] #39 closed

[2019-05-23 10:16] #40 closed

[2019-05-23 10:19] jandresampaio commented on #50
Hi @marcosrocha85 , @riktar ,

Thanks for the help. Nice work

[2019-05-23 10:20] #46 closed

[2019-05-23 10:20] #49 closed

[2019-05-23 10:35] riktar commented on #44
here: https://www.npmjs.com/package/jkanban

[2019-05-23 10:35] #44 closed

[2019-05-23 11:46] dtamm commented on #44
How about an documentation on how to use it with NPM (and maybe as require or ES6 module)? Just tested the npm package, i am getting an error when using it (may be project specific, but the error looks like this: jkanban__WEBPACK_IMPORTED_MODULE_2___default.a is not a constructor), shall i raise a new issue for this?

[2019-05-23 14:35] akramwahid opened #51 "Not reactive when Bind boards array as vuejs data property"
I am trying to bind the boards array as a data property in vuejs, on initial page load, it take all the array item and render boards correctly, however when i do modification to vue array it doesnot affect in UI, looks like kanban board are not reactive,

Do you have any function to refresh or rebuilt the boards from scratch, so when I do any changes to vue data property, I can rebuilt the boards.

[2019-05-23 16:49] marcosrocha85 commented on #51
Unfortunately, I fear jKanban is not fully compatible with Vuejs. I use jKanban in a Vue application but my events are handled manually.

[2019-05-24 10:36] akramwahid commented on #51
can you please give me some tips on how you are handling it manually,
I am planning to go in this way, when I do changes to vue data property, I will loop through the boards array and remove them from UI and run the jKanban `init` function to build it again?, what you think, is this approach correct?

[2019-05-24 11:02] jandresampaio commented on #50
Hi @riktar ,

The additional code you've provided won't await for an async call...Is there any example you can provide to show in what conditions will that work ?
In my case only when setting a breaking and waiting for the call to finish...

[2019-05-24 13:10] marcosrocha85 commented on #50
That won't work because of reactive context. See, jKanban is a Javascript library. When you drop an item, dropEl is triggered and so your server validation request. The problem is that while your code is looking for a server response, the rest of the code continues executing. I see you can do two paths:
1st. Cancel drop even if server will return true and on your "transition" event move the item m

[2019-05-24 13:14] jandresampaio commented on #50
@marcosrocha85 , yes dropEl won't wait for anything, thanks for the clarification.
We're taking the 2nd option, reverting to original position.

[2019-05-24 13:19] marcosrocha85 commented on #51
I don't think call ```init```every time is a good practice. You can use ```watch``` to update your jKanban. In that case, you should add and remove items according your Vue model. Look this fiddle to have an idea. https://jsfiddle.net/marcosrocha85/Lk9t483r/

[2019-05-26 09:18] akramwahid commented on #51
yes, I tried with `init` and it was not successful, it raises unexpected errors and disable the kanban board fully, so I am going with manually option as your suggestion..

[2019-05-26 09:18] #51 closed

[2019-05-30 07:30] akramwahid opened #52 "Get the order of elements on a board"
I want to save the order state of elements on the board in the backend db. I know we can listen for call back `dragendEl` or `dragEl` in order to detect the item reordering inside a board, how can I get the new order when an item is reordered,
I also want to store the order of the Board as well when I enable `dragBoards` , your help is kindly appreciated

[2019-05-30 17:39] marcosrocha85 commented on #52
Hello @akramwahid , you will have to get the elements and iterate over it. Like:
[code]

https://jsfiddle.net/marcosrocha85/Lk9t483r/

[2019-06-05 12:02] adryx92 commented on #43
I also made a modification to add items with specific classes in ```addElement``` function:

[code]

[2019-06-05 13:47] adryx92 commented on #17
I'm having the same issue. If I drop an item on a non-allowed target, the dropEl is still fired.

[2019-06-10 08:19] akramwahid commented on #52
thanks for this, can you please tell me how to do similarly to get the new order of boards when boards are moved arround

[2019-06-10 13:41] akramwahid opened #54 "Get the board order to update in db"
Can you please help to get the board orders in the event when a board is dragged around,
`dragBoard       : function (el, source) {},`  I know we can use this listener to detect the movement, but how to get the new order to pass to server

[2019-06-10 13:42] akramwahid commented on #52
thanks for this, this solved my problem

[2019-06-10 13:42] #52 closed

[2019-06-11 06:33] akramwahid commented on #54
I found the answer my self like this, hope there is no another easy way than this, if you have let me know,
`dragendBoard: function (el) {
                        var boardIds = $('.kanban-board').map(function(){
                            return $(this).attr("data-id")
                        }).get();

                        var sorted = [];
                        var currentOrder = 0;

[2019-06-11 06:35] akramwahid commented on #54
I did it my self like this way, but if there is an easy-way than this please let me know, thanks,

[code]

[2019-06-11 06:35] #54 closed

[2019-07-02 10:20] ZackTech commented on #18
If you are talking about dragging an item from one kanban board to another and wanting to horizontal scroll at the same time then this is also an issue for me. Will anyone come up with a fix?

[2019-07-05 01:27] marcosrocha85 commented on #18
I'm trying to integrate JoshyFrancis/drag_auto_scroll with dragEl event of jKanban, but still no success. I'll keep trying to find any reasonable solution. Any help would be handy.

[2019-07-31 07:41] skylolo65 opened #55 "Boards Same Height"
New Feature:
It would be good to have a parameter so that all boards have the same height (all grow and shrink together).

Use case:
My board is so full that after scrolling down I still want to be able to drag and drop from one board to another.

[2019-07-31 15:07] marcosrocha85 commented on #55
Technically you have to set your entire kanban to full height of div and set each board as well. Something like [this](https://github.com/riktar/jkanban/issues/33#issuecomment-433907576).

I think it would be nice if jKanban brings that built-in.

[2019-08-04 22:59] zertex opened #56 "Some div in board title"
If I put some div in board title, ex.:
[code]
Drag system failed... How I can fix it?

[2019-08-06 14:37] marcosrocha85 commented on #56
Hello, @zertex .
I don't know why you want to use div to achieve a menu, but you can make that work by adding the class kanban-title-board to both of divs (row, col-md-9 and col-md-3 as well).

Perhaps you can use native jKanban button by using the [buttonContent](https://github.com/riktar/jkanban#usage) attribute.

[2019-08-12 17:42] zertex commented on #56
I add dropdown class and menu. Thanks

[2019-08-12 17:42] #56 closed

[2019-08-12 18:02] zertex opened #57 "Change element board"
How I can move item to another board by API?

I use
`dropEl : function (el, target, source, sibling) {}`
then
`kanban.addElement(board_id, el);`

But element without content
![2222](https://user-images.githubusercontent.com/6353201/62892855-e72d0a00-bd51-11e9-89b2-b7fd19443341.JPG)

P.S. I found moveElement method, but it also has that issue...

[2019-08-13 16:15] marcosrocha85 commented on #57
Hello again @zertex , have you read issue #36?

[2019-08-14 13:13] zertex commented on #57
Thank you! Sorry, I skip #36

[2019-08-14 13:13] #57 closed

[2019-09-09 05:30] kevzlou7979 opened #59 "Support for Mobile"
Hi guys,

This is an awesome library, just want to ask if the kanban supports Mobile especially Drag and Drop. See the image below (Nevermind the offline support ) Just want to show you below how Mobile kanban works.

![MobileOffline2](https://user-images.githubusercontent.com/3138071/64505232-bb2b8700-d305-11e9-89a1-22f9f5090402.gif)

[2019-09-09 23:55] kevzlou7979 opened #60 "Customize Kanban Item"
Hi there,

Is there a way we can create our own kanban custom DOM elements like this?
![image](https://user-images.githubusercontent.com/3138071/64574036-53764a00-d3a0-11e9-8b49-78082b8f2e69.png)

The image above indicates we had four dom elements that needs to be placed on Kanban Item.

Thanks,
Mark

[2019-09-09 23:56] kevzlou7979 commented on #57
@zertex Just curious, How did you create your custom Kanban Items (especially the first item) with custom DOM elements inside the item?

[2019-09-10 07:00] zertex commented on #57
The title element includes all html code

[2019-09-10 08:57] kevzlou7979 commented on #57
Oh i see thanks for the information.

[2019-09-11 14:40] marcosrocha85 commented on #60
@kevzlou7979 , does the [comment of @zertex](https://github.com/riktar/jkanban/issues/57#issuecomment-529800481) from #57 solved your issue?

[2019-09-11 15:19] marcosrocha85 commented on #59
jKanban uses Dragula in order to make drag and drop possible. Dragula (and jKanban) does supports mobile apps, see:
![jKanban](https://media.giphy.com/media/U8AJbdwtYSNqnc3T3Q/source.gif)

[2019-09-12 01:07] kevzlou7979 commented on #60
Yeah we can close this issue, thanks for the library

[2019-09-12 01:07] #60 closed

[2019-09-12 01:08] kevzlou7979 commented on #59
Yeah but the horizontal scroll seems broken when we drag the item to another board.

[2019-09-12 01:09] kevzlou7979 commented on #59
Same with https://github.com/riktar/jkanban/issues/18

[2019-09-17 14:41] thijsd opened #61 "addElement function logs to console"
I think this should be removed from jkanban.js:
in addElement function:
console.log(element);

[2019-09-17 14:50] thijsd opened #62 "add changed function"
It would be nice to have a function that is called when something changed.
When an element is added, replaced, or a board was added,...

[code]

[2019-09-17 15:02] thijsd opened #63 "addElement to position in board"
Currently addElement adds to the end. It would be nice to be able to add elements at the start (or before the x'th element)

[2019-09-17 15:13] thijsd opened #64 "get elements from board as JSON"
It would be nice to have a function to export the elements to JSON.
Using this it should be easier to send the elements to ajax for example.

[2019-09-17 15:36] riktar commented on #62
Hi @thijsd, you can use the callbacks of jKanban.
You can find them in the [README](https://github.com/riktar/jkanban#var-kanban--new-jkanbanoptions)

[2019-09-17 15:36] #62 closed

[2019-09-17 20:13] marcosrocha85 commented on #63
I guess it would be nice if we could have an "insert" function. Perhaps, I don't know what kind of issue we have with DOM. Any push request would be welcome.

[2019-09-17 20:14] marcosrocha85 commented on #64
This is nice. I had to keep jKanban data in a var to save on database. Having a function to export kanban to json will make that simpler.

[2019-09-26 13:19] segheysens opened #65 "React wrapper for jKanban"
This is an idea `issue`. This library has some great built-in functionality and given the need to track data across user interactions with the board, incorporating a state management framework like React would be very compelling for more developers to adopt jKanban.

I'll try to personally do some research into common patterns for wrapping libraries with a react interface (some other examples like

[2019-09-26 13:28] segheysens commented on #18
Just came across this library and I like the idea of this functionality.

If I get around to integrating this tool into my project, I'd definitely want this feature - happy to take a stab at this functionality at that time, but generally speaking, I think the logic required would need to:
A) Track when the user is dragging
B) Calculate pixel width of the kanban container and determine the area whe

[2019-09-26 13:31] segheysens commented on #65
Here's [a blog post describing how to build a Vue.js kanban board](https://auth0.com/blog/vuejs-kanban-board-the-development-process/) that could be helpful.

[2019-09-26 23:34] marcosrocha85 commented on #65
Hello @segheysens, thank you for your interest. Actually is it possible to wrap Kanban in a Vue Component. I'm working on it. First version might be released on next month.

[2019-09-27 07:34] riktar commented on #65
@segheysens I was already thinking of creating a React wrapper for jKanban. It's already been a long time in my todo list. if @marcosrocha85 can release his Vue wrapper we can link both to this repo.

[2019-10-10 09:29] Mikeproove opened #66 "Change 'title' in Items to 'content', so we can use tooltips"
Hi there

Would it be possible to change the 'title' attribute in the kanban items to use something like 'content'
This way we could use the title attribute (or even the data-title attribute) for tooltips.

Thanks in advance
Mike

[2019-10-10 15:42] marcosrocha85 commented on #66
Hello @Mikeproove . Thank you for using jKanban. Did you mean like [this](https://jsfiddle.net/marcosrocha85/Lk9t483r/)?

[2019-10-11 07:17] Mikeproove commented on #66
Hi @marcosrocha85

That's a really nice workaround, thanks !
(I guess I was just thinking in another way, with attributes for the kanban item getting the attributes through the 'item' attributes in the definition)

Thanks a lot

[2019-10-16 22:16] hayjay opened #67 "Get board id when an item is been moved to it"
Currently, when an item is been moved to a board, three things are been returned namely :
1. el
2. target
3. source
4. siblings

All these are good to have, but i guess it would be nice if we can have the board id the item is been moved to as well. #dropEl function handles this

[2019-10-17 13:07] Mikeproove commented on #43
Hi Guys

Is there any update on this ?

And if it's already implemented, how do I set the class of an item from the start ?

Cheers
Mike

[2019-10-17 13:13] riktar commented on #67
Hi @hayjay you can access to the boards `data-id` simply using Javascript:
`
dropEl: function(el, target, source, sibling){
  console.log(target.parentElement.getAttribute('data-id'));
  console.log(source.parentElement.getAttribute('data-id'));
}
`

[2019-10-17 13:18] #67 closed

[2019-10-17 13:36] riktar commented on #43
@Mikeproove @cmparrela
Now is possible to add custom classes to an item.
[code]
https://github.com/riktar/jkanban/commit/e3fa10ad69133e4b29fa6c5183c185631b90617c

[2019-10-17 13:37] #43 closed

[2019-10-17 13:49] riktar commented on #61
removed in:
https://github.com/riktar/jkanban/commit/e3fa10ad69133e4b29fa6c5183c185631b90617c

[2019-10-21 06:53] Mikeproove opened #68 "The class attribute doesn't work in addElement"
when adding an element via `$kanban.addElement()`, the classes specified in the class attribute are not added as classes in the element itself.

Also could you please update the npm package (https://www.npmjs.com/package/jkanban), with the new code ?

[2019-10-23 13:48] riktar commented on #68
fix in #69

[2019-10-23 13:48] #68 closed

[2019-10-23 19:44] JacobBlana opened #70 "Drag handler for items"
I was just curious about this. We tried using this library for our own task board with connection to company internal system. So far so good and we are pleased by the result. At the moment we are doing intense testing and actualy started thinking about handlers for moving items. Even dragula itself has some sort of this funcionality. Have you ever consider this feature to be a thing? Or perhaps do

[2019-10-23 20:50] marcosrocha85 commented on #70
Hi @JacobBlana, I developed a board to a customer of mine and I hasn't bumped into that kind of needing. Trello has no drag handler at my knowledge, but in other hand, Vue-Draggable has. I guess this feature can be included into jkanban as well. What kind of goal are you achieving with drag handler?

[2019-10-23 20:54] JacobBlana commented on #70
We are looking at this mainly because of few things. Mainly this is cause we are using it with a big touch enabled TV. That by it self would be a problem, but we have implemented many buttons and control elements on each items so any missmatched touch triggers drag. So we are kinda looking towards solutions that will allow us only drag the items when we really need to.

[2019-10-23 22:10] marcosrocha85 commented on #70
I think I can care of this.

[2019-10-24 09:32] riktar commented on #70
thanks @marcosrocha85,
I've fixed handlers, @JacobBlana you can find it in 27c288d1e17adb8669f0d9d03562e98f1210a17e

[2019-10-24 21:30] JacobBlana commented on #70
Holy smoked bananas. Works amazing. Made it work for our board in a couple of minutes. Thanks a lot @riktar.

[2019-10-25 08:06] zidarkstarz92 opened #72 "buttonContent only accepts text and not html"
As mentioned in the README for the 'buttonContent' attribute it allows 'text or html content of the board button'. However, when I tried to add html to this it displayed as text and I need to display html. The fix for the issue can be fixed by changing the jkanban.js file on line 245 from:
`var t = document.createTextNode(buttonContent);
btn.setAttribute("class", "kanban-title-button btn btn-defau

[2019-10-25 16:41] marcosrocha85 commented on #72
That's most because **t** is a textNode. Perhaps, using innerHTML is not a good pratice because when you append to (or otherwise modify) innerHTML, all the DOM nodes inside that element have to be re-parsed and recreated and will not automatically reattach event handlers to the new elements it creates potentially creating a memory leak on some browsers.

I guess changing createTextNode buttonConte

[2019-10-30 04:14] KeenthemesHub opened #73 "Drag does not work in mobile mode"
Hi,

Thanks for the great plugin.

We encountered a little issue.  Could you please check our test video here;
https://www.loom.com/share/05daa5de83c940bf9c7da306fa08e65f

We used your official example file; `jkanban-1.2.0/example/index.html` for this test.
It will work only when page initializes in desktop mode, but not in mobile mode.

Thanks

[2019-10-30 08:27] riktar commented on #73
Hi, can you give me more information about what type of browser are you using?

I've tried on Chrome, and it's works:
https://streamable.com/t7sxa

[2019-10-30 08:40] #72 closed

[2019-10-30 08:41] KeenthemesHub commented on #73
Hi, thank you for your reply. I tried on Chrome. Can you try to make it on a smaller screen? Less than 600px maybe. Need to refresh the page. every time size change.

Thanks

[2019-10-30 09:48] riktar commented on #73
@KeenthemesHub It works...
https://streamable.com/hynp8

[2019-10-31 01:45] KeenthemesHub commented on #73
Sorry, I should be more clear. Could you please try these steps.
1) Open in mobile mode (smaller screen)
2) Refresh page (F5)
3) Retry to drag

Thank you for your patience

[2019-10-31 11:45] riktar commented on #73
In the example, there is `responsive: "700",` prop setted, this prop enable drag only if the window size if major of the value setted.

[code]

[2019-11-02 02:00] KeenthemesHub commented on #73
Thank for your help 😊

[2019-11-02 02:00] #73 closed

[2019-11-13 23:30] markitosgv commented on #18
Any updates about implementing with JoshyFrancis/drag_auto_scroll?

[2019-11-14 08:54] markitosgv commented on #18
Great news!

I've got a nice solution. Using this library: https://www.npmjs.com/package/dom-autoscroller

[code]

Works like a charm!

[2019-11-14 10:35] Mikeproove opened #74 "Please update the npm package"
Hi there

Could you please update the npm package on the npm page ?
(https://www.npmjs.com/package/jkanban)

I would prefer to load this module via npm rather than updating the files myself.

Thanks very much
Mike

[2019-11-14 19:17] marcosrocha85 commented on #18
If @riktar agreed, I can integrate dom-autoscroller inside jKanban in a pull request.

[2019-11-26 02:47] BingTory opened #75 "ADD getALLBoards!"
Hello.
I have a suggestion. how about provided getALLBoards?
input **boardID** then return all boards by JSON standard format.

When I add/update board and board's item end then update this result into API input parameter,
If getALLBoards function supported, It'll be cool.

Thanks.

[2019-11-26 11:49] marcosrocha85 commented on #75
I guess you can use
[code]

[2019-12-08 11:45] white-gecko commented on #65
@marcosrocha85 is this https://github.com/marcosrocha85/vue-jkanban/tree/feature/1 the vue wrapper? Why didn't you merge it to the master?

[2019-12-09 16:04] marcosrocha85 commented on #65
I isn't done yet. I trying to implement "reactivity" to boards property. In Vue we have to watch that property and differ arrays in order to call addItem or addBoard from jKanban. I'm still working in it.

[2019-12-23 21:30] tommhendrick opened #76 "Can't drag elements when using custom item handler"
In the demo if I enable the itemHandleOptions I can no longer drag and drop any of the elements.

[2019-12-24 16:55] marcosrocha85 commented on #76
If itemHandle is enabled, you are only allowed to move items by using that handle. How are you doing that?

[2019-12-30 17:19] seila16 opened #77 "How can i get the order of elements inside a board?"
for example, i need the order of those elements to save in bd

![image](https://user-images.githubusercontent.com/38368080/71592534-6065a780-2b0f-11ea-905f-d73a2795d0e2.png)

[2019-12-30 17:49] #77 closed

[2020-02-01 15:58] tnetsch commented on #18
@markitosgv I have tried to to add the dom-autoscroller (using your code snippet) to my jkanban-boards, but it did not work. Did you use the `dom_autoscroller.js` from the `dist` distribution? Did you add something magic `.css` code to the jkanban containers? Of course it would be nice to have the autoscroll as well when dragging elements within an individual board and also between the boards ...

[2020-02-01 21:08] markitosgv commented on #18
Hi @tnetsch ,

I'm using dist/dom-autoscroller.min.js after loading jkanban.min.js.

[2020-02-04 15:15] youradds commented on #75
Am I missing something? jkanban.boards isn't a valid query? Even trying jKanban.board doesn't work? I found a dirty way to grab them all (and the entries), but I'd prefer  if there as a native way to do it!

[code]

[2020-02-05 02:50] marcosrocha85 commented on #75
Did you tried ```jkanban.getBoardElements()```?

[2020-02-05 03:00] marcosrocha85 commented on #75
Sorry, I missed a property. It's ```jkanbanInstance.options.boards``` where **jkanbanInstance** is the name of the variable you initiated jKanban.

[2020-02-05 08:16] youradds commented on #75
Awesome - thanks , that did it :) Am I missing this in the docs?

[2020-02-05 12:43] marcosrocha85 commented on #75
Not at all, the docs are a little bit outdated since we added options attribute to jKanban. By the way, pull requests are welcome. ;)

[2020-02-05 14:20] youradds opened #78 "Board items not updating?"
Hi,

I'm trying to understand why this doesn't work. So basically, I have 3 boards. The first board has 3 items in. In my function I have these callbacks:

[code]

Then this function that gets called:
[code]

The issue is that for some reason KanbanTest.options.boards remains the same output, even when I have moved items?

This is how it looks when we init the page: https://ibb.co/WfmCYXh
This is

[2020-02-05 14:24] riktar commented on #78
Hi @youradds `KanbanTest.options.boards` contains the static initial borad, it's not updating.

You must use your structure for tracking the updates of all the boards.

[2020-02-05 14:25] #75 closed

[2020-02-05 14:25] #74 closed

[2020-02-05 14:25] #76 closed

[2020-02-05 14:29] youradds commented on #78
Ah balls - I thought it was updated after each change :( Thats a pain. So basically I can't use that for what I need then - as it needs to be updated . It just feels really messy having to grab it from the DOM every time we make a change :/

[code]

[2020-02-05 14:32] riktar commented on #78
Sorry, jkanban not support it! :(
Pull Request are welcome! ;)

[2020-02-05 14:33] youradds commented on #78
:( Thanks for the quick response though.

Unfortunately, I'm good at using modules, but not so much at editing them / making forks :) So I'll just have to make do with the other method I had.

[2020-02-05 14:36] #78 closed

[2020-02-06 08:34] youradds commented on #78
Just as an update - below is the code I managed to  get working - just in case its useful to someone in the future :)

[code]

This includes the boards (in their current order), and then  the items also in their order. I then send this to our server, and do the magic on there in terms of updating the records

[2020-02-10 14:44] popchenk opened #79 "Dragging multiple elements"
Hello, Is there a way to drag multiple elements at once ?

[2020-02-10 14:55] riktar commented on #79
Hi @popchenk, no, jKanban don't allow multi drag.

You can use the API for add or remove elements.

[2020-02-11 09:48] popchenk commented on #79
Okay , thank you ! :-) I will take a look on the API. I think I can get it to work with some js.

[2020-02-12 01:10] KeenthemesHub opened #80 "Drag not working in mobile view"
Hi,

Thanks for a great plugin. However, we had issue with board items in the mobile view. The board item cannot be moved and the page scrolls up and down when we drag it.

Our site here;
https://keenthemes.com/metronic/preview/demo1/components/extended/kanban-board.html

Our test video;
https://www.loom.com/share/794c3955d9114bbfb47973303f7f7677

Thanks

[2020-02-12 03:55] marcosrocha85 commented on #80
Wow, that's a very, very, VERY beaultiful job with jKanban. If I was @riktar I would be so proud.

Well, jKanban uses [Dragula](https://github.com/bevacqua/dragula) in order to make drag and drop possible and uses the latest version available (3.7.2). But, as far as I tested, it doesn't work with mobile devices very well yet.

Maybe you can integrate your Kanban with a javascript plugin like [Drag

[2020-02-12 04:16] marcosrocha85 commented on #18
Dragula has a [problem](https://github.com/bevacqua/dragula/issues/327#issue-137653954) about this. For now, I think the suggestion @markitosgv fits fine.

[2020-02-12 08:35] riktar commented on #80
similiar to #18 close

[2020-02-12 08:35] #80 closed

[2020-02-12 08:35] #79 closed

[2020-03-05 14:44] bharathyathiraj opened #81 "How to disable dragging feature for particular Board column in list of column"
Hi All,

I have added 3 boards for my kanban board, i want to disable drag feature for last board items, kindly let me know how to achieve this .

Please find attached picture for more detail of my question.
![kanbanBoard](https://user-images.githubusercontent.com/61837084/75992365-db877780-5f1d-11ea-80f1-c022fdfb72d9.jpg)

[2020-03-05 16:07] riktar commented on #81
Hi @bharathyathiraj
try this when you define your object boead:

[code]

This will allow to drag&drop the item only in same board

[2020-03-05 16:18] bharathyathiraj commented on #81
Yes this solution works....Thanks a lot  @riktar

[2020-03-05 16:20] bharathyathiraj commented on #81
This solution works...Thanks a lot @riktar

[2020-03-06 11:06] riktar commented on #81
ok, close :+1:

[2020-03-06 11:06] #81 closed

[2020-04-02 08:17] aayu-ramola opened #83 "Delete board item"
I want to delete items on the board. I added a delete icon for each element but do not how to call removeElement API.
I am performing some other action on

click  : function (el) {},

[2020-04-02 18:40] marcosrocha85 commented on #83
You should call board's `removeElement` function. In order to do that, you should pass id as parameter. In your code, you will have to have the element's id and call a function to remove it, [as you can see here](https://jsfiddle.net/marcosrocha85/Lk9t483r/).

[2020-04-03 06:10] aayu-ramola commented on #83
@marcosrocha85 I think you did not get my issue.
I have updated the fiddle.
https://jsfiddle.net/q3choj2s/1/

When I click remove button first kanban callback 'click' is calling and after that, the custom function defined on click.

On button click, I want to avoid calling kanban callback 'click'.

[2020-04-03 19:55] marcosrocha85 commented on #83
Ok, I understood now. In fact my kanban does not use fireable elements in items. By the way, I guess you need [this](https://stackoverflow.com/a/387750/5078248).

[2020-04-11 04:42] liu-minjie opened #84 "Feature Request: destroy api"

[2020-04-12 03:43] marcosrocha85 commented on #84
Can you explain your need a little bit?

[2020-04-12 09:54] liu-minjie commented on #84
when datasource change, I want to destroy the jkanban then recreate it.
or in a SPA app, when route change, the component should be destroyed.

[2020-04-17 00:15] tiagoperessilva commented on #84
Try something like, check if the element is already created, if it is, you don't recreate it, just remove the boards and put it back.

kanbanElement.removeBoard(...)
kanbanElement.addBoards(...)

[2020-04-17 01:59] marcosrocha85 commented on #84
I agree, removing and recreate entire kanban is a bad thing. You can remove boards or items to achieve what you want.

[2020-04-17 02:37] liu-minjie commented on #84
so the "recreate" scene can be resolved by removeBoard and addBoards.
suppose that the jkanban in a react component. when the component invoke componentWillUnmount,  what else should i do about the jkanban instance?

[2020-04-17 16:52] marcosrocha85 commented on #84
If I'm right, you need that because jKanban does not "cleans" DOM elements when you "recreate" page in React, so I'm thinking you need to destroy jKanban instance in order to load some other content into a main div. That's a "workaround" to make jKanban work nicely with reactive languages. If that's the case, I think it is good to have a destroy api.

[2020-04-18 01:11] liu-minjie commented on #84
yes, I want to clean all resource created by jKanban.

[2020-04-27 15:33] EINazare opened #85 "Feature Request: Board Class"
Hello there,

Nice plugin and big thanks to the maintainers of it.
I would like to request a feature, for adding a class to the board elements (check below image).
![Screen Shot 2020-04-27 at 6 29 33 PM](https://user-images.githubusercontent.com/26245512/80390496-2934b680-88b5-11ea-962d-e42254813a34.png)

For example, Bootstrap offers you some classes for setting a background color: https://getboo

[2020-04-27 16:43] marcosrocha85 commented on #85
@riktar, because of `class` attribute which changes board title, we cannot just change behavior of `class` and create a `titleClass`. What do you think if we create a `boardClass` attribute to add css classes to entire column? Will it confuse people when using `class` and `boardClass` attributes?

[2020-05-06 06:46] rayoray opened #86 "Feature Request: Add Elements to Item"
Is it possible to add additional elements to the item (example: Labels) and have it displayed on the card?

[code]

![image](https://user-images.githubusercontent.com/63407006/81145147-0b540980-8fb9-11ea-9901-20e6e94b0367.png)

[2020-05-10 18:11] monica123m opened #87 "database and jkanban?"
Hi, i'm trying to make jkanban works with php and mysql, but without success. for example, i cannot get the data-eid parameter correctly, or a lot of things aren't in forms [like comments] and so on.

Any idea on how to male it easiest possible ? thank you.

[2020-05-10 18:14] tiagosimoesdev commented on #84
Anyone found any solution to destroy it so we can make it sort of "reactive" ?

[2020-05-17 09:52] lb- commented on #86
@rayoray - the docs do not state it explicitly, but anything you put in the `title` attribute will be added as children of the item element. This includes html.

For example, the following will render the html in the board's item.

[code]

[2020-05-17 09:55] lb- commented on #85
Just an idea, you could use
[code]

Just be sure to add it directly after you set up the kanban...
[code]

[2020-05-17 10:01] lb- commented on #87
Hey @monica123m  - not sure if this helps but here is how I set up a function for `dropEl` to read the data attributes from the elements.

[code]

[2020-05-17 19:30] riktar commented on #86
@lb- was right! Close

[2020-05-17 19:30] #86 closed

[2020-05-21 01:22] marcosrocha85 commented on #84
@tiagosimoesdev I'm a little busy these days. I started a wrapper in Vue.js but as much I have no time, I stopped a little bit the development.

[2020-05-21 01:26] marcosrocha85 commented on #85
That the way I use. Just because the project uses jQuery. But in order to do that in vanilla javascript, I guess would be handy if was added a property to fit needs of column (board) css classes.

[2020-06-05 10:09] foxymophandlemama opened #88 "Disable Drag on click"
Hi, i'm having some dificulty in this situation:

I have a form that ist loaded by ajax inside the kanban cards when click of a button inside each card.
I need to disable the drag when the form is loaded, cause the card is expanded when the form is loaded and i dont want the card to be dragged and also cause the datepicker in fhe form is not working when the drag option is set to true in the kanba

[2020-06-05 11:26] foxymophandlemama commented on #88
I realise i can just remove the classes from the header.

[2020-06-05 11:26] #88 closed

[2020-06-25 01:52] ronaklalwanii commented on #64
Can I look into it?

[2020-06-26 20:07] marcosrocha85 commented on #64
For sure. Pull requests are always welcome.

[2020-07-09 18:58] dr-jonathan-jeffery opened #89 "Multi classes for board titles"
In the documentation it says that a board header can have multiple classes added:

[code]

However, it you do include multiple classes in a comma-separated string, the are rendered a single long class with commas in the name, rather than a space-separated series of individual classes:

`<header class="kanban-board-header Class1,Class2,Class3"><div class="kanban-title-board">Backlog</div>`

[2020-07-14 21:47] rodrigokestler opened #90 "Any plans for supporting mobile/touch screens soon?"

[2020-07-15 13:26] #87 closed

[2020-07-15 13:28] #83 closed

[2020-07-15 13:30] #85 closed

[2020-07-15 13:34] riktar commented on #90
@rodrigokestler not soon, but PL are welcome!

[2020-07-15 13:34] #90 closed

[2020-07-24 12:03] felipeEddy opened #91 "Console error with 'not-draggable' class"
First, i would like to thank you guys for the excellent work so far.

In my application i have a _dropdown_ inside an item of the kanban. When the _dropdown_ is show, i don't want the item to be draggable,  so i'm adding the class 'not-draggable', which i have found in the plugin code. The problem is, when we try to drag an item an error in the console appears, although the item really do not drag

[2020-07-24 12:52] felipeEddy commented on #91
I've added the following verification in line 983:  (!source || item.classList.contains('not-draggable')) { return }
The console error is gone. But i don't know if it is a fix or just a work around. If you guys have a solution i would appreciate.

[2020-07-24 21:39] riktar commented on #91
Hi @felipeEddy  can you make a pull request?

[2020-07-25 22:08] felipeEddy commented on #91
Hello @riktar, i made the pull request: https://github.com/riktar/jkanban/pull/92

Hope it helps. Thanks for the reply.

[2020-07-30 08:49] riktar commented on #91
Hi, @felipeEddy you had worked on dist folder. Can you aplly your modifiy to dev file and build all?

[2020-08-14 06:41] KeenthemesHub opened #96 "Npm audit shows this high vulnerabilities"
Hi,

Thanks for a great plugin. We want to report, there is an issue with the npm audit.

┌───────────────┬──────────────────────────────────────────────────────────────┐
│ high          │ Prototype Pollution                                          │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ dot-prop

[2020-08-14 10:38] riktar commented on #96
fixed in v1.2.3

[2020-08-14 10:38] #96 closed

[2020-08-19 06:32] cyrus07424 opened #97 "Cannot drag item when window width less than 701px"
Cannot drag item when window width less than 701px.
when window width is 701px on init timing, I can drag items, but when it is 700px I cannot drag any items.

same problem occureed at demo page.
http://www.riccardotartaglia.it/jkanban/

I used Chrome 84.

[2020-08-20 03:53] marcosrocha85 commented on #97
Hi @cyrus07424 .
I know that it's not a real case, but when you use "Responsive Design Mode" the error still there?

[2020-08-20 10:53] hjelmdal opened #98 "Max items in columns"
Hi. I would like to know whether this awesome plugin supports putting a maximum of items in each columns? in Kanban you call it WIP (work-in-progress) limit, which is widely used.

Hope that it is something that you will consider, or even better if it's already supported - as this is essential in Kanban. :-)

Thanks for an awesome plugin!

[2020-08-20 18:46] marcosrocha85 commented on #98
If I'm not wrong, It's better to do that by implementing dropEl event and cancel drag if drop target has reached limit.

[2020-08-27 05:56] cyrus07424 commented on #97
why do you think it's not a real case?
does this library not support mobile or tablet devices?

[2020-08-27 18:09] marcosrocha85 commented on #97
"Responsive Design Mode" from Chrome or Firefox I man. By the way. jKanban uses Dragula in order to do drag and drop and as far as I know, it wasn't designed for touch devices. Although, it works pretty nice in some cases.

[2020-10-21 20:41] GuiHS01 opened #100 "A way to block Drag a single Board, not to all like dragBoards"
Is possible to make a `dragBoard=false` for an specific board, the issue #5  show to us a way to block all Boards, but for single one what is the right way?

[2020-10-21 20:49] GuiHS01 commented on #100
Duplicate of #32
But a solution like this will be nice! :)

[2020-10-21 20:49] #100 closed

[2020-10-25 22:35] vatc0 opened #101 "Load Items with fetch or ajax"
Hi,

I am trying to load the items from db with ajax or fetch but I can't find any example on how to do this.

The call is made and i get valid json but i don't know how to make it available in the item section.

In the middle board i try to use a var defined in the done function. if i log that var i can see the that the json is valid.

Could someone help me with an example on how to achive this?

[2020-10-26 23:57] #101 closed

[2020-11-15 09:25] AEK-BKF opened #103 "Add a link input into item"
Hello,
First, I'd like to thank you so much for this amazing package.
Please, How can I set a link into item div, so I can click on it and go to link page.

Something like this :
[code]

Thanks.

[2020-11-15 18:51] marcosrocha85 commented on #103
What language are you using? PHP? Node.JS? You can simply concatenate the id coming from database into your href. Also you have a property called id for every item. Check it out https://jsfiddle.net/marcosrocha85/Lk9t483r/

[2020-11-15 18:55] AEK-BKF commented on #103
Hi,
Thanks for quick reply,
I'm using Laravel PHP.
I set items as I mentioned above, but when I click on the link, nothing happens ! the console log is empty.

[2020-11-15 19:08] marcosrocha85 commented on #103
Is your link ok? Is the anchor tag ok? I mean, there's no limitations about links inside item. If you take a look at my jsfiddle I set an anchor and it is working fine.

[2020-11-15 19:19] AEK-BKF commented on #103
Yes! every thing is fine, I can see the correct link on mouse over.
I'm really confused.
If you can try my code above and test it.

[2020-11-16 14:52] marcosrocha85 commented on #103
Please take a look at your own code in this fiddle: https://jsfiddle.net/marcosrocha85/akvuqors/
It looks like you set up a property on jKanban which is preventing you from clicking on an element inside the item. Can you provide your entire jkanban configuration?

[2020-11-16 16:32] AEK-BKF commented on #103
I test your example on jsfiddle and it doesn't work !
Sure !
[code]

[2020-11-17 04:19] marcosrocha85 commented on #103
Forgive me, @AEK-BKF. Anchor tags not work properly inside jKanban items. I don't looked deeper, but I opened a project of mine and found that I just used onClick for Anchor tags in order to make them work. Please take a look again at [this fiddle](https://jsfiddle.net/marcosrocha85/akvuqors/) and you see a dialog when clicking **View**.

[2020-11-17 06:39] AEK-BKF commented on #103
Thank you so much for your time to help me.
Yes, I've already used `onlick="view(itemid)` function to redirect to my URL, it's not professional but it does what I want.
[code]
and Thanks again for this nice package.

[2020-11-17 06:40] #103 closed

[2020-12-02 02:01] rouilj opened #105 "Add maxItems to board definition to limit number of items in column"
One of the hallmarks of Kanban is limiting WIP (work in process).  There should be a standard
location for defining this. I suggest a maxItems setting.

[code]
The default

[code]

function could implement this (I assume it is used for implementing dragTo).

Also if it makes sense, create a helper function:  exceed_maxItems(target) (I assume target is a board). The helper will return true if the d

[2020-12-02 02:15] rouilj opened #106 "Is there an example of an item with a card layout with multiple fields?"
How would I create a kanban item with the following structure:
[code]

It looks like the title property is a single line text string. I can add the owner, dueDate
ownerAvatar as custom properties, but how do I get them displayed in the item/card?

Can the
[code]
property be used in some way to format the item? I don't see any doc on the customHander but
I assume it is meant to provide a handle to

[2020-12-07 16:40] milpas999 opened #107 "removeElement method is not working."
Trying to remove item from the board, using the item id, shows error.

`kanbanBoard.removeElement(selectedElementId);`

where selectedElementId is the value of the data-eid of the item in board.

calling above method, shows error in console below

`Uncaught TypeError: Cannot read property 'removeChild' of undefined`

[2020-12-08 06:52] rbmcgowan commented on #106
@rouilj did you find anything on how to do this ?  I want to do the same, can't see any obvious way to do so

[2020-12-08 11:26] zevaverbach opened #108 "cursor isn't "pointer" when hovering over cards"
Would you accept a PR implementing this?

[2020-12-08 14:59] rouilj commented on #106
Hi rbmcgowan:

In message <riktar/jkanban/issues/106/740419591@github.com>,
rbmcgowan writes:

Didn't find a way to do this. Waiting on a response from the
developer.

--
				-- rouilj
John Rouillard
===========================================================================
My employers don't acknowledge my existence much less my opinions.

[2020-12-08 18:44] riktar commented on #108
Hi @zevaverbach, since the content of a card can be of different types, I would not prefer to constrain the use of the pointer but to give the user the possibility to set a CSS rule.

Thanks.

[2020-12-08 18:44] #108 closed

[2020-12-08 18:50] riktar commented on #106
If you want customize the card content, you can insert your html in `title` properties of `boards` object.

Here ana example:

[code]

[2020-12-08 23:27] rbmcgowan commented on #106
thanks for the response @riktar, appreciated.

[2020-12-09 02:33] rouilj commented on #106
Ah ok. Is the title injected with innerHTML into the card? I'll give it shot thanks.

[2020-12-09 06:51] #106 closed

[2020-12-09 21:40] marcosrocha85 commented on #107
Something is missing there. I have [this jsfiddle](https://jsfiddle.net/marcosrocha85/Lk9t483r/) pointing to the **master** branch and everything is fine with removeElement. Do you sure your kanbanBoard variable is set and not null?

[2020-12-13 10:45] milpas999 commented on #107
Hello Guys, I have figured out the issue,

In one of my project, I was using mongoDB, whoes Ids are in form of alpha numeric character.

But in my current project, I am using Mysql, wholes ids are in integer form,

The issue occur when i pass an Integer, at an item id to remove id.

I had to change the integer value to string, and the issue resolved.

Btw Thanks for your support...

[2020-12-13 10:45] milpas999 commented on #107
I am closing this issue, hoping you will do type convert in the library.

Thanks. again

[2020-12-13 10:45] #107 closed

[2020-12-23 17:09] wmalina77 opened #111 "Mode responsive not working drag"
Hi,
I am using scripts and I noticed that dragging elements in responsive mode on mobile devices is not working, I was looking for a solution but still couldn't fix the problem.
I tried on android devices, when I swipe my finger on the screen, it moves all the content vertically, not a specific item

[2021-01-03 18:45] drmatrix opened #112 "dragItems : false not working"
hi
im trying to give user permission about draggable items the "dragItems :" even set to false the items still draggable

[2021-01-15 12:02] HarisBinZahid opened #113 "How to get board id"
I am trying to implement a Kanban Board in my project but I am not able to understand how can I get source and target board ids in dropEl callback to update task in db?

[2021-01-16 03:47] marcosrocha85 commented on #113
Hello,
Maybe [this link](https://jsfiddle.net/marcosrocha85/Lk9t483r/) can help you. In that case, I'm showing you up the target sortening order. But you can verify the column name and write to database as you wanted. Please let me know if you reached your goal or need more help.

[2021-01-20 07:53] josemiUD opened #114 "Item style"
HI, I need to put a background to the items that according to a type changes color.
This color can be modified by a database so I can't do it by classes.

Could you put a style property on the item or is there a way to wait for the kanban to finish loading to be able to go through the cards and assign a style to it?

[2021-01-22 12:31] marcosrocha85 commented on #114
The way I have implemented that back in the day was changing it with jQuery (on document ready). Or creating dynamic css classes that could be attached to an item. Even if you're using reactive programming that is possible. If you need, I can create a jsFiddle to show you up how I did that.

[2021-01-22 12:59] josemiUD commented on #114
Yes, I would appreciate it

[2021-01-22 13:19] marcosrocha85 opened #115 "Unit test with Jest"
I'm working on automated tests with Jest. I think that would be very handy in order to keep things working on at every merged request. Although, I haven't access to apply label to this issue, I'll keep my way working on it.

[2021-01-22 13:38] riktar commented on #115
Great! Thanks @marcosrocha85

[2021-02-01 17:05] lau2468 opened #116 "How to remove an item (without an id) from a board?"
When I use the addElement API ot after drag and drop, there will be no id assigned to the item. In this case, how do I remove the item using the item from a board?

Thanks

Alex

[2021-02-01 17:14] lau2468 commented on #116
Please ignore this. I can assig

[2021-02-01 17:15] lau2468 commented on #116
Please ignore this. I can  assign an id while adding a new element.

[2021-02-01 17:15] #116 closed

[2021-02-15 09:47] AEK-BKF commented on #112
Same here ! It doesn't work.
@drmatrix  please, did you find a solution ? Thanks

[2021-02-15 11:55] Rampesna opened #118 "Add Board Button in Boards"
I want to create 'add new board' button at the all other boards right side

[2021-02-15 18:19] marcosrocha85 commented on #118
boards.title is a property that accepts HTML, you can add buttons there as you wanted.
See https://jsfiddle.net/marcosrocha85/Lk9t483r/

[2021-02-15 18:22] marcosrocha85 commented on #112
Are you using the property correctly? Are you using some event? Please uncomment dragItems at my fiddle and see it's actually working. https://jsfiddle.net/marcosrocha85/Lk9t483r/

[2021-02-15 19:59] AEK-BKF commented on #112
@marcosrocha85  Thanks for quick reply,
I mean it doesn't work for a given board, not the whole jkanban.
Thanks

[2021-02-16 10:50] Rampesna commented on #118
My solution is;

/* Other Boards */ ,
{
                    'id': '0',
                    'order': 99999,
                    'title': '<div class="row"><div id="addNewBoard" class="col-xl-12 bg-dark-75-o-25 bg-hover-secondary text-center cursor-pointer" style="border-radius: 2rem"><span class="form-control mt-1 font-weight-bold text-dark-75 editBoardTitle" style="font-size: 12px; border: none; b

[2021-02-17 12:52] marcosrocha85 commented on #118
I guess I don't understanding you. You want to add a new board at the most right of kanban or you want to add a button at every board title?

[2021-02-17 13:02] marcosrocha85 commented on #112
@AEK-BKF sure it has. Take a look at this fiddle:
[code]
I made a table in database where I created the workflow for the boards (columns) and check if the target board is allowed to receive an item from source board. If cannot, I cancel the drake event and the item is not moved, otherwise I save the new column in database and update all cards sort order for target board.

[2021-02-17 14:31] Rampesna commented on #118
https://ibb.co/V9ZpFBj

This is my screen, when I click the 'Yeni Pano' button, I want to create a new board and then the 'Yeni Pano' button will remain on the far right of all boards.

My solution is;

var kanban = new jKanban({
            element: '#tasks',
            widthBoard: '290px',
            dragBoards: true,
            click: function(el) {/* */},
            dropEl: function (el, s

[2021-02-17 14:55] marcosrocha85 commented on #118
Now I could understand you. I guess the best way is the way you're doing because of the current behavior of jKanban. I think would be nice if jKanban had a button to add a board like that, so pull requests are welcome. Oh, and nice board btw. ;)

[2021-02-18 10:23] Rampesna commented on #118
Thank you for your nice thought :) As I said, I just wanted to know if there is an easy solution :)

[2021-02-19 06:01] #118 closed

[2021-02-21 14:27] AEK-BKF commented on #112
@marcosrocha85 Thank you so much :))))

[2021-02-23 08:57] Rampesna opened #119 "Moving Deleted Board Elements to Another Board"
How can i move deleted board elements to another baord?

[2021-02-23 12:41] marcosrocha85 commented on #119
Basically you will have to have id from "Excluded Items" board and do that manually.

* Get element being to "remove";
* Remove it from old board with `removeElement`;
* Use `addElement` to add to new board (Excluded Items).

[2021-02-23 12:52] Rampesna commented on #119
Thanks Marcos, I'm already using the method as you said right now, but is there an easier way? For ex. may i trigger element drop event for move deleted board elements to another board?

[2021-02-23 13:04] marcosrocha85 commented on #119
I fear there isn't. By the way, you can develop it and do a PR or hire @riktar for custom behaviors. =)

[2021-02-23 13:06] Rampesna commented on #119
I prefer to develop it myself :)

[2021-02-23 13:56] #119 closed

[2021-03-07 18:06] javier974 opened #120 "already solved"

[2021-03-07 18:11] #120 closed

[2021-03-07 18:11] javier974 commented on #120
already solved. Thanks

[2021-04-03 22:58] WriterStat opened #122 "Turn off automatically adding custom properties data to the dom?"
I'd like to add custom properties, but not have them added to the dom as data.

Is there a way to turn this off?

Thanks!

[2021-04-03 23:03] WriterStat commented on #122
Is there an option to set so that custom properties data isn't added to the dom? Thanks!

[2021-04-07 14:11] marcosrocha85 commented on #122
Unfortunately not at the moment. jKanban uses DOM to store properties. That's part of web concern, I think. It might be great if you could do a MR about it.

[2021-04-07 19:20] justkidding96 commented on #91
@riktar I noticed when I applied the class inside my kanban-item div it does not work. Is it possible to extend this feature to scan for underlaying not-draggable classes?

[2021-04-07 21:26] marcosrocha85 commented on #91
I guess that might not be possible, while dragula event is [attached to an entire item](https://github.com/riktar/jkanban/blob/7b152b903fe30d64d68bb988b74e73bff2c6af95/jkanban.js#L126).

[2021-04-08 20:22] justkidding96 commented on #91
@marcosrocha85 Do you think so? Is it not possible to check if there is a class when starting to drag? If so cancel the drag functionality.

[2021-04-09 21:09] marcosrocha85 commented on #91
I don't know if I misread you, but the point of this issue were if item had a 'not-draggable' class so mouse down would not fire dragging. That's actually in production on jKanban. If an item had 'not-draggable' class drag should be cancelled.

[2021-04-11 12:51] justkidding96 commented on #91
@marcosrocha85 Yes I understand, I saw the code in production. But this works only on the `kanban-item` element not elements inside right? Is that possible to fix?

Because I have a dropdown inside `kanban-item` which I want to exclude for dragging.

[2021-04-12 19:21] justkidding96 opened #123 "Uncaught TypeError: Cannot read property 'dataset' of null"
Hi I've got an error sometimes when initializing the kanban.

This line triggers the error:
```document.querySelector(e.options.element).dataset.hasOwnProperty("board") ? (url = document.querySelector(e.options.element).dataset.board,```

Could you explain what I'm doing wrong?

[2021-04-13 18:31] marcosrocha85 commented on #123
When are you initializing jKanban? While page loading of after page completely loaded?

[2021-04-13 18:35] marcosrocha85 commented on #91
I got it. I drag was being fired just on kanban-item, but it appears to being fired on element that fires the mouse down. I'll take a look at this just right now.

[2021-04-14 16:15] marcosrocha85 commented on #91
I was able to reproduce the issue by adding a dropdown (select) inside an item. The problem is that the drag event is fired **after** mouse leaves the select element and besides that the event parameters doesn't give any clue that the event came from there. In fact, dragula (which handles the drag and drop from jKanban) is thinking everything started from kanban-item element. What I done in the pa

[2021-04-14 21:06] marcosrocha85 commented on #91
I was thinking, what if you use the property "**itemHandle**"?
[code]

[2021-04-15 06:31] #114 closed

[2021-04-15 06:32] #115 closed

[2021-04-15 06:32] #122 closed

[2021-04-15 06:32] #112 closed

[2021-04-15 09:42] justkidding96 commented on #123
@marcosrocha85 I have a Vue application. When I get a successful response I initialize the jKanban.

[2021-04-16 03:16] WriterStat commented on #55
This can be done if wanted using display: flex; in css and setting flex-wrap, overflow-x and height using calc with vh and px. ...may not be an enhancement as each creator may choose different settings. In case it helps. Without needing/having to set your kanban to full height of div. Hope helps. Best, -C

[2021-04-16 15:33] marcosrocha85 commented on #55
Can you write an example? I don't think [mine](https://github.com/riktar/jkanban/issues/33#issuecomment-433907576) is clean and practical enough.

[2021-04-16 18:00] WriterStat commented on #55
Hi! I could, but it's as easy as:
- Setting the board container to display: flex; ~ This basically forces all the boards to have the same height. If you add to one the others will grow as well.

- Then set  flex-wrap: nowrap; - This forces all the boards to be in the same row, and next to each other.

- Set overflow-x for the lists/boards container - This gives you a horizontal scrollbar, for when

[2021-04-21 13:36] justkidding96 commented on #123
@marcosrocha85 Any updates about this issue?

[2021-04-21 20:55] marcosrocha85 commented on #123
Reading your comment again, what are you mean with "I create multiple items with the `createItem` method and then Iinitialize jKanban"? I just can't understand how are you doing. You call new jKanban just only once (after page finishes load), even using Vue. What you have to do is delete/create items according your service return. I used jkanban in a project almost like that and had no issue. What

[2021-04-24 19:42] justkidding96 commented on #91
@marcosrocha85 I tried this but it doesn't have any effect. Do you know something else what I can try?

[2021-04-24 19:50] justkidding96 commented on #91
@marcosrocha85 I've tried some code and the code below fixes the issue.

[code]

[2021-04-24 23:04] marcosrocha85 commented on #91
You can use jKanban dragEl or dropEl events.
[code]
You can play with that and develop a solution that fits your needs. 🙃

[2021-05-06 22:39] databird opened #125 "Drag & Drop between multiple jKanban"
Hello,

When trying to move kanban's item between 2 kanban it's not possible :-(

We got this error :
[code]

HTML :
[code]

JS
[code]

Try to move element from k1 to k2...

Please help (we can also discuss about paying support) ;-)

Many thanks in advance

[2021-05-10 12:44] databird commented on #125
If someone want to improve that point, I can pay for it - please contact me `infoATdatabirdDOTch`

[2021-05-11 03:46] marcosrocha85 commented on #125
You can hire here: https://xscode.com/riktar/jkanban

[2021-07-12 15:42] marcosrocha85 opened #132 "Unused function"
The function `__buildItemTitle` is unused according to VSCode. Should it be removed? What was that used for?

[2021-07-12 16:01] riktar commented on #132
Now it's useless, we can delete it

[2021-07-12 16:02] #63 closed

[2021-07-12 16:16] marcosrocha85 commented on #64
This is very tricky. We have two approaches according to my knowledge.
1. Create an array attribute and change it on `addElement`, `addBoards`, `removeElement` and `removeBoard` calls to keep it even with DOM.
or
2. Read jKanban DOM and output a JSON.

I would like to vote which you guys think it's better.

[2021-07-12 17:44] marcosrocha85 commented on #89
I tested this one and couldn't reproduce the issue. Can you provide an example?

[2021-07-12 17:54] marcosrocha85 commented on #105
Hey @rouilj. What about to help me with that?
maxItems is a good feature, but I'm thinking that could be nice to have source in the helper as well. I'm concerning about some validation from source board when moving to target.
In the inner routine, it might be good if jKanban uses dropEl to know if the target board has max items limit and it will cancel drop event. The helper should return true or

[2021-07-13 06:14] #132 closed

[2021-07-13 06:15] riktar commented on #89
I couldn't reproduce the issue, closed.

[2021-07-13 06:15] #89 closed

[2021-07-18 22:18] rouilj commented on #105
@marcosrocha85 said:

Sorry I don't understand what you mean by 'have source in the helper'.

I don't know what an inner routine is.

That is what I suggested for the default dropEl callback.

Again that is what I suggested. Since a user can override the dropEl function, I suggested writing a helper:

  isBoardOverLimit(target)

that could be called by somebody re-implementing the dropEl callback.

[2021-07-29 12:28] Rampesna opened #134 "Deleting All Boards"
How can i delete all boards?

[2021-07-30 01:13] marcosrocha85 commented on #134
jKanban works directly with DOM. In theory, if you remove de DOM elements and assign null to your jkanban instance should work.
We are expecting to develop a [destroy api](https://github.com/riktar/jkanban/issues/84) soon. Pull requests are welcome. 😉

[2021-07-30 06:18] Rampesna commented on #134
I will temporarily continue with this method until the API is ready, thanks :)

[2021-07-30 06:18] #134 closed

[2021-07-30 13:04] Rampesna opened #135 "Fetching data from ajax item drag-drop not working"
This is my kanban object,

[code]

I am fetching data with ajax from api and deleting all items in having '.kanban-container' class, and loading kanban boards with this function,

[code]

But when i try to drag-drop any board item to another board, system give me an error,
- Uncaught TypeError: Cannot read property 'dragTo' of undefined,

void 0 !== i.dragTo && b.options.boards.map(function (e) {

[2021-07-31 03:47] 0484cjagw opened #136 "the json about boards"
Do you change the JSON of board after the item is moved? If not, how do you change it

[2021-07-31 04:19] 0484cjagw commented on #136
How can I get the id of the board after item is moved

[2021-07-31 06:33] Rampesna commented on #136
You can try this,

[code]

[2021-07-31 07:19] Rampesna commented on #135
I solved the problem but I don't know what caused the problem,

When i define it this way,
[code]
not working but when i define it this way its working,
[code]

[2021-08-01 12:33] DeveloperMarius opened #137 "undefined board is created when using `$(document).ready`"
Hey,

when I'm using the examples of jkanban everything works properly. But after I wrap it in a jQuery `$(document).ready(function (){ ... });` block there is always an undefined board and when I define an item array also one undefined item per board generated.
I really don't understand why. I hope someone can help me.

[code]
[code]

Thank you for creating this Projekt. It really helps!

Update:

[2021-08-03 06:16] Rampesna commented on #137
[code]

Since you have defined a board whose data-id is undefined, you naturally get it in the board list as well. jKanban works with DOM objects.

Could you explain a little bit, what is the action you want to do?

[2021-08-03 07:06] DeveloperMarius commented on #137
Hello,
I think it is not important what I want to do. Just take the example project here and add jQuery to it. After that wrap the code in a `$(document).ready` and you will get a undefined board created.
I really don't know why.

~Marius

[2021-08-03 10:19] riktar commented on #137
@DeveloperMarius can you provide a code example where the bug is replicated?

[2021-08-03 10:20] #136 closed

[2021-08-03 10:21] #135 closed

[2021-08-03 10:21] #125 closed

[2021-08-03 10:22] #123 closed

[2021-08-03 21:55] DeveloperMarius commented on #137
Hey,
I could not reproduce this error using the example and jQuery. Maybe something else in my code was the cause of this error.
I moved away from the kanban concept for my project and used something else. So the error doesn't appear for me any more.
But thank you all!

~ Marius

[2021-08-03 21:55] #137 closed

[2021-08-04 19:36] WebSpectrum opened #138 "Example: Integration With MySQL"
Any working examples of updating MySQL column on drag drop?

[2021-08-05 08:46] Rampesna opened #139 "How can i block drag/drop any board item?"
I want to block some items dragging, how can i do?

[2021-08-05 08:50] Rampesna commented on #138
Can you explain a little more what you want to do?

[2021-08-05 09:31] Rampesna commented on #139
[code]

I was add custom data(draggable) for item. And i am controlling this data on dragEl function;

[code]

I want to stop drag transaction if draggable data is false. I tried `return false;` but it wasn't work.

This is enought for block any item draggable for me.

[2021-08-05 17:12] WebSpectrum commented on #138
yes, I think I need to update  value in MySQL status on dragendEl ... Was wondering if any examples?

[2021-08-05 17:26] Rampesna commented on #138
You can look my example project Jotrac, maybe it can help to you.

Script code is here: https://github.com/Rampesna/jotrac/blob/main/resources/views/board/components/script.blade.php

[2021-08-06 13:12] marcosrocha85 commented on #139
Use this. https://github.com/riktar/jkanban/issues/112#issuecomment-780541170

[2021-08-06 14:05] Rampesna commented on #139
I tried but it gives me an error:

Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null

[code]

[2021-08-06 14:12] Rampesna commented on #139
I was fixed problem like that;

[code]

Thanks!

[2021-08-06 14:37] marcosrocha85 commented on #139
Very good. Please close the issue.

[2021-08-06 14:42] #139 closed

[2021-10-08 11:28] bairog opened #144 "Howto read DropTo option value for a specific board?"
Hello and thank you for your awesome library.
As I can see **dropEl** callback fires even if item cannot be dragged to the target board (**DragTo** option of the source board doesn't have target board Id in it). I need to identify such situations (and don't perform all logic that is called in case of "allowed" drag).
I've started with the following code but I have no idea howto read `DropTo` optio

[2021-10-09 03:34] bairog commented on #144
And one more question: am I missing something or there is no special **ItemHover** callback? My idea is to display minimal item info in title and show full item data in a tooltip for example. So hover callback will be ideal for that. Or there is no such and will to use **clicked** callback?

[2021-10-09 15:24] samuelr7 opened #145 "Get ID of dropped element"
Hi, how do I get the ID of the element that was dropped, not the board ID I can get that?

Thanks

[2021-10-11 06:55] bairog commented on #145
` var itemId = el.dataset.eid;`

[2021-10-12 09:02] #145 closed, assigned to nobody

[2021-10-13 09:15] MilanUnjiya4149 opened #146 "jkanban support swimlane functionality ?"
I want to implement kanban with swimlane.
jkanban support it?

[2021-10-13 10:31] bairog opened #147 "addElement API function doesn't insert at desired position"
Hello.
According to docs `addElement` API function _adds element in the board with ID boardID, element is the standard format. If position is set, inserts at position starting from 0_.
I've tried the following code but element still insterted at the very bottom:
[code]
![123](https://user-images.githubusercontent.com/44995181/137116591-c948171e-b7c6-4476-90a5-e98b5b577127.gif)
Sample application -

[2021-10-13 20:10] marcosrocha85 commented on #147
I tried to reproduce your issue, but it worked fine locally. I noticed that https://cdn.jsdelivr.net/npm/jkanban@1.3.1/dist/jkanban.js is using "appendChild" instead of "insertBefore". Maybe that version is not properly compiled. @riktar can you confirm that latest dist files are correct?

[2021-10-13 20:11] marcosrocha85 commented on #146
I fear that you can't implement swimlanes with jKanban. This project is, as the name says, Kanban based. So you can implement boards like Trello, Jira Kanban and so on.

[2021-10-14 07:49] bairog commented on #147
BTW. To return **draggedItem** to the original position on **sourceBoard** (if user clicked **Cancel drag** button) I need to determine **draggedItem** index on the **sourceBoard**. For today I use the following code:
[code]
Is that piece of code fine or may there are some optimizations/shortcuts (I'm not so familiar with jKanban API yet)?

[2021-10-15 16:27] marcosrocha85 commented on #147
As jKanban uses and manipulates DOM elements. You can use:
[code]
But for instance that is the best way to get an element position from a board. 🙁

[2021-10-16 09:08] bairog commented on #144
@marcosrocha85 maybe you can help me and answer some of that questions?

[2021-10-16 14:30] marcosrocha85 commented on #144
@bairog you can find a lot of others past "problems" in Closed issues. I suggest you to take a look and try to figure out if some solution fits your needs. For instance, look at this https://github.com/riktar/jkanban/issues/22.

[2021-10-18 05:34] bairog commented on #147
Just tested with **dist\jkanban.min.css** and **dist\jkanban.min.js** files from this repo and they work as expected. Looks like to **jsdelivr** files really incorrect. @riktar looks like **jsdelivr** files reupload is needed.. Thank you in advance.

[2021-10-18 06:41] bairog commented on #144
Thank you I've used your [code sample ](https://github.com/riktar/jkanban/issues/22#issuecomment-425184889)
[code]
but slightly modified and simplified it:
[code]

[2021-10-18 12:16] marcosrocha85 commented on #144
Nicely done!!! At that time I wasn't able to use filter (I can't remember why). Please close the issue if your problem was solved. I suggest you to create different issues for different questions.

[2021-10-18 12:26] bairog opened #148 "Is there an ItemHover callback?"
Am I missing something or there is no special **ItemHover** callback? My idea is to display minimal item info in title and show full item data in a tooltip (**Bootstrap** or **jqueryui** for example). So hover callback will be ideal for that. Or there is no such and will to use **context** callback?

[2021-10-18 12:28] bairog opened #149 "Add HTML form to the arbitrary position"
As I can see `addForm` function adds html element to the very bottom of the board. But can I add to the arbitrary position (for example between **1st** and **2nd** items)? Is there any workaround?

[2021-10-18 12:29] bairog commented on #144
Closed this one as my DropTo issue is solved now. Created separate issues: #148 for **ItemHover** and #149 for **AddForm**

[2021-10-18 12:29] #144 closed, assigned to nobody

[2021-10-18 14:56] marcosrocha85 commented on #149
There are a couple of solutions here:
1. You can create a "temporary card" which has your HTML and set drake.cancel(true) at dragEl when user tries to drag it. Isn't so elegant but works; or
2. Use a library like [WebUI Popover](http://sandywalker.github.io/webui-popover/demo) in order to show a small popover allowing to user interact with your functions.

In a project of mine, I used addForm alon

[2021-10-18 15:06] marcosrocha85 commented on #148
No, there's not. But you can handle that with a simple css class. Eg:
[code]
And implement something (jQuery probably) like:
[code]

[2021-10-18 15:25] riktar commented on #149
Closed

[2021-10-18 15:25] #149 closed, assigned to nobody

[2021-10-18 15:25] #148 closed, assigned to nobody

[2021-10-18 15:32] #146 closed, assigned to nobody

[2021-12-03 18:43] diegofcap commented on #84
You can remove the container div a create again.

[code]

[2021-12-09 14:59] JCD5flow commented on #18
Hello, thanks for solution,but, no charm with me... have a new solution today ??

[2021-12-09 19:33] marcosrocha85 commented on #84
That's how I implemented a board of mine. Not "destroying" the entire board, but managing some "automatic" moving features. Like some user moved item 34 and all other users see the item were moved.

[2021-12-09 19:34] marcosrocha85 commented on #18
Since original dragula's issue is currently open. I fear there's no solution yet.

[2021-12-10 08:36] JCD5flow commented on #18
Thanks a lot for your answer, I'll wait the great solution !

[2021-12-15 19:13] MichaelBech opened #151 "Potential NPM error - Right click"
First off, thank you for this great library.
I'm in the process of switching from downloading the files to installing via NPM.

The context event (Right-click) is not fired when using the NPM module.
But everything works flawless when using the downloaded files.
This could be a local setup issue, I dont know.
Do you have any pointers?

package.json:

"dependencies": {
        "@fortawesome/fontawe

[2021-12-16 17:47] marcosrocha85 commented on #151
In order to use jkanban inside node_modules, you have to point out the same file you usually use when download. To be more clear, you have to use files from dist directory. If you're using webpack, laravel-mix or any other task automator, you have to tell it to copy node_modules/jkanban/dist/jkanban.min.js and node_modules/jkanban/dist/jkanban.min.css to your public folder.

[2021-12-17 12:34] MichaelBech commented on #151
I see. Thank you for your input.
I will close the issue

[2021-12-17 12:34] #151 closed, assigned to nobody

[2021-12-24 14:37] ferminvz opened #152 "Vertical display boards"
Hi there! Sorry I'm very new in this, I just need to display the boards vertically not horizontally. Is there any way to change that? Thanks a lot!

[2021-12-24 20:23] marcosrocha85 commented on #152
I think you mean you need columns to be horizontal, isn't it? If was that, jKanban cannot display that way you need. All jKanban can do can be found at documentation and [demo](https://www.riccardotartaglia.it/jkanban/).

[2021-12-26 01:08] CrashLaker opened #153 "Have a hook when jKanban has finished rendering"
I'm planning on adding some other hooks and listeners after the board has been rendered.

therefore is it possible to have a post render hook?

[2021-12-26 01:36] CrashLaker commented on #64
i think approach 1. could have some potential inconsistency when the user could be frantically draging the boxes here and there.

therefore i consider approach 2 more trustworthy.

this could help

![image](https://user-images.githubusercontent.com/4432491/147396616-f2083d00-6c42-4333-8afe-c9bfba9b6470.png)

[code]

![image](https://user-images.githubusercontent.com/4432491/147396621-1378ddfe-8330

[2021-12-26 12:50] CrashLaker commented on #153
putting in some more context. i'm willing to enhance the cards with more context.
![image](https://user-images.githubusercontent.com/4432491/147408506-b150f443-691b-45b4-a5ad-c13615201829.png)

i've seen that if I add metadata to the item
[code]

everything besides the title key if preprended by a `data-`  string

![image](https://user-images.githubusercontent.com/4432491/147408566-cbc6fdfa-ab41-4

[2021-12-26 13:47] CrashLaker commented on #153
class actually works when value is an Array

[code]

other possibilities would be to add a progress indicator

![image](https://user-images.githubusercontent.com/4432491/147410032-d19cd5b3-00ed-4ad3-ad62-d12c9e61b630.png)

[2021-12-26 22:10] marcosrocha85 commented on #153
As long jKanban is not a reactive project. We could trust that jKanban is initialized after call `let jkanban = jKanban({ el: '#mykanban' )`. If you need to enhance your items (cards) after populating data. I think you can just call a function to do that after populating it.

[2022-01-04 12:30] richardklingler opened #154 "Item shakes during drag"
Just installed your jkanban.min.js together with the css from the dist folder after cloning and tried out the simple demo.

But when I want to drag an item it starts shaking when dragging.....also it doesn't tilt during drag as in your exact same example...

Any idea what is causing thsi annoying shaking during drag?
Happens on Firefox on Debian 11 as on Safari on macOS 12....on same browsers your

[2022-01-04 12:42] richardklingler opened #155 "dragBoards and dragItems have no effect"
Regardless if setting dragBoards or dragItems to true or false, boards and items can still be dragged around and placed.

Only dragTo setting per board has an effect.

With this settings everything is dragable:

`    var kanban1 = new jKanban({
        element:'#myKanban',
        dragBoards: false,
        dragItems: false,
        boards  :[....],
`

[2022-01-04 13:36] richardklingler opened #156 "How to dynamically set data-eid with addELement()?"
Trying now to implement a shop category edit/sorting function with jkanban where each board represents a certain hierarchy level...

When I set the top levels in a board like this:

`                'item'  : [
                    {
                    	'id': 1,
                        'title':'<input type="text" value="Living">',
                    },
`
I can get the the clicked item with "el.da

[2022-01-04 14:11] richardklingler opened #157 "removeElement doesn't remove all elements"
Something weird here happening....

I use ajax to load items on a second board when I click on an item in the first board...all fine....

For the next click in the first board I use getBoardElements(id) and walk through the array to remove all items with removeElement()....like:

`	      var allEle = kanban1.getBoardElements("_working");
	      console.log("Number of elements: " + allEle.length);

[2022-01-04 14:32] richardklingler commented on #156
Looks this feature is only available in jkanban.js and not in jkanban.min.js...

Also getParentBoardID() is missing in jkanban.min.js....

Would be nice if function differences would be documented :-)

[2022-01-04 14:32] #156 closed, assigned to nobody

[2022-01-04 14:40] richardklingler commented on #155
Seems this is also only available in jkanban.js and not in jkanban.min.js

[2022-01-04 14:40] #155 closed, assigned to nobody

[2022-01-04 14:50] richardklingler commented on #157
Some further testing showed:

When a board contains 8 items....

1. delete removes half of them, leaving 4 items
2. delete removes again half of them, leaving 2 items
3. delete again only deletes half, leaving 1 item
4. delete removes the last one...

[2022-01-04 15:10] marcosrocha85 commented on #154
Interesting. We need to check it out.

[2022-01-04 15:11] marcosrocha85 commented on #156
@riktar next time you tag a new release, can you build css either?

[2022-01-04 15:12] marcosrocha85 commented on #155
Thank you for your feedback.

[2022-01-04 15:14] marcosrocha85 commented on #157
Hello @richardklingler, thank you for using jKanban. Can you provide a jsfiddle so we can test it out? I'm seeing everything fine at latest version here in my machine.

[2022-01-31 17:30] chetanvarshney commented on #154
I see animation css
animation: append-animate 0.3s cubic-bezier(0.23, 1, 0.32, 1);  //in .kanban-item {.. }
@keyframes append-animate {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}

I have no idea why this css was added. by removing it is working fine.

[2022-02-01 15:58] marcosrocha85 commented on #154
That animation is responsible to "show" user that an item is being dragged. Not a big deal to remove it from your code.

[2022-02-02 14:05] ranggaAdiPratama opened #159 "Give an alert when drop on specific board"
I have a transaction kanban with status board, pending and paid. Is it possible to give an alert if you want to drop the card from pending to paid? If yes, it's dropped, otherwise, it returns to pending

best regards

[2022-02-02 22:54] marcosrocha85 commented on #159
Hello, hope you're doing fine. You can use dropEl event in order to achieve that. When target.parentNode.dataset.id equals to your paid board id you show up an alert. Please tell me if you need a fiddle.

[2022-02-03 03:25] ranggaAdiPratama commented on #159
@marcosrocha85

yes, pretty please

[2022-02-03 13:30] marcosrocha85 commented on #159
Here we go, my friend.
https://jsfiddle.net/marcosrocha85/0ze2c5qt/

[2022-02-04 03:29] ranggaAdiPratama commented on #159
@marcosrocha85 i'm sorry, The thing is I can't drag any card there

[2022-02-04 04:46] marcosrocha85 commented on #159
Can you provide your fiddle for my understanding?

[2022-02-17 19:31] rmaxx opened #160 "Struggeling between 2 versions"
I use this kanban board for sortable (short) forms. However im stuck since i need to drag something inside the kanbanitem.
When i use the latest version of th escript, this works, but checkboxes no longer work.
When i use an older version my checkboxes work, but i cant use the handler (i use a headerbar to drag)

Is this a known issue (either one)

to demostrate:  Add a checkbox to one of the boxe

[2022-04-08 11:12] ColinFay commented on #75
Hey,

I'm trying to get the content of all boards but in the current state, not in the initial state.

If I use the example.html file, after dragging the item, I still have the initial item state.

![Screenshot 2022-04-08 at 13 07 59](https://user-images.githubusercontent.com/17936236/162424906-a8ec4a09-ab41-4afc-a87d-074e26554b1b.png)

Is there a way to get the current state of the whole kanban?

[2022-06-12 01:02] DamienBitrise opened #163 "jkanbanInstance.options.boards not updated to match board state"
Opening a new issue since the other issue that reported it is closed

See: https://github.com/riktar/jkanban/issues/75#issuecomment-1092750774

[2022-06-13 00:36] DamienBitrise commented on #64
I think this needs to be updated to return the name of the item not the HTML

[code]

[2022-06-13 00:40] DamienBitrise commented on #163
This is a viable workaround for me by adding it to the dropEl & addElement/removeElement

https://github.com/riktar/jkanban/issues/64#issuecomment-1153336849

[2022-06-14 09:35] WriterStat commented on #18
With dragula not being maintained for the last few years, and with jkanban being built on top of it, maybe it's time to decouple/abstract it from the code and allow Sortable and others like html5 scrolling libs to be plugged in?

I know it's built on dragula for most everything....but...there are at least two/maybe three real show-stopping scroll items in jkanban when trying to drag or scroll, eve

[2022-06-25 07:24] TheCodemasterZz opened #166 "HTML Content ?"
`itemAddOptions: {
enabled: true,
content: '<span class="menu-icon"><span class="svg-icon svg-icon-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path opacity="0.3" d="M21 22H14C13.4 22 13 21.6 13 21V3C13 2.4 13.4 2 14 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22Z" fill="currentColor"/><path d="M10 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H10

[2022-06-25 07:27] TheCodemasterZz opened #167 "Item Sizing Problem after enable itemAddOptions"
When i enable itemAddOptions whether with the content '+' my board items width gets smaller which equals of itemAddOptions button size.

[2022-06-25 12:43] WriterStat opened #168 "is-moving class doesn't get removed on spill"
Replicate:
- Open jkanban Demo
- Move item, but leave in same place.
- Or move item and drop outside boards, so it spills.

class... is-moving gets set, but never gets removed. It stays on all spilled items. So there can be multiple is-moving identified items on multiple boards left not moving,

Doesn't seem good. If you are tracking is-moving items in any way.

Hope helps.

[2022-06-25 13:10] WriterStat commented on #152
Ran across this, I know it's a while since asked...but thought I'd leave a help for others.

I think they actually did mean 'display the boards vertically' ...you are maybe selling the lib short saying it cannot.

To display the boards vertically, is pretty easy:

- Just set a max height for the boards.
- Set the container to allow the boards to wrap.
- Set the container width to force wrap if nee

[2022-06-25 13:23] WriterStat commented on #152
Note: You can also display boards horizontally as normal and then display the items inside them vertically if you want. Libs should be thought of as a base to add to.

[2022-06-28 14:40] parascodejudge opened #169 "Can i get a callback whenever the user scrolled to the bottom of a board"
Basically I just want to know, whenever the user has scrolled through all the items in the board and has reached to the bottom of the board.
For example if you scrolled to the bottom of this board as shown in this image.
https://user-images.githubusercontent.com/7257227/47652284-483d7580-db64-11e8-8444-a07ac2c81690.png

[2022-06-28 20:58] marcosrocha85 commented on #169
Hello and thank you for using jKanban.
If you're using jQuery, You can do by following [this](https://stackoverflow.com/questions/3898130/check-if-a-user-has-scrolled-to-the-bottom-not-just-the-window-but-any-element) or [this](https://stackoverflow.com/questions/3962558/javascript-detect-scroll-end) answers.
If you need to use vanilla javascript, you can implement your own solution by following [

[2022-06-30 13:34] WriterStat commented on #152
Note: it was discovered, if you display vertically, that the lib appears on first blush, to require two boards across from each other horizontally(only visually in a row) or jkanban turns off the ability to drag any items in any of the boards and turns off the ability to drag any of the boards or their items.

Not sure why yet. Testing... Dragula seems to allow vertical display drag natively, but

[2022-06-30 14:42] WriterStat commented on #152
Will check to see if this is a bug in our lib or the jkanban lib or the dragula lib.

[2022-06-30 20:52] marcosrocha85 commented on #152
Thank you for your feedback. We hopely want you achieve your needs.

[2022-07-01 12:08] WriterStat commented on #152
Ok. sooo tested. Someone may want to look at this.

Jkanban seems to turn off drag/dropping when a browser window is 700 pixels or smaller in width.

To replicate:

- Open the jkanban demo page at: http://www.riccardotartaglia.it/jkanban/
- Resize your browser window to 700px or less.
- Refresh your browser...either a regular refresh or a shift-refresh
- Try to drag any board or any item in a boar

[2022-07-01 13:00] WriterStat commented on #152
We'll play around with the undocumented option ...responsive in jkanban, its default is set at 700px. Basically the lib doesn't implement drag/drop if the browser window width is initially set at 700px or less. Sort of a hidden gotcha. =) If a user resizes their window., drag/drop could stop working, unexpectedly.

Jkanban Demo drag stops working if browser is resized below 701px window and the wi

[2022-07-15 22:51] Mohmdthabet commented on #105
because jkanban is build on vanilla js this example can help you using dropEl callback function

[code]

this code changes the header to green in case the items count in each board is 4 items and prevents adding more.

[2022-07-23 15:04] eazuka opened #170 "Is there a method to refresh/reload the kanban items?"
When a new content that should display on the kanban is saved to db or a content on the kanban is updated, I wand to be able to trigger a function to reload the kanban items so that updated data is displayed.

Is there an available method for this or a know method to get this done?

[2022-07-23 15:19] eazuka commented on #153
@CrashLaker i am also trying to accomplish some things as you, like adding progress indicator, color indication, icon and images of assignees. were you able to make progress with your enhancement, do you mind sharing your experience with me, how you finally got yours to work?

[2022-07-25 14:25] marcosrocha85 commented on #170
Currently the only way to update items is through DOM. You have to get your item and update the "title" with the new DOM. You can also use a reactive framework like React or Vue and update it dinamically.

[2022-07-28 02:30] Shum1905 opened #171 "Is there any way to collapse kanban board?"
Now I'm setting a button as a header above kanban board.
I tried to set another id to identify the part to collapse other than the id for kanban element so I can collapse it when i click that button but it didn't work.

Is there any way to collapse kanban board?

Attached is the code that I'm using. (sorry i couldn't use markdown well...)
[code-sample.txt](https://github.com/riktar/jkanban/files/9

[2022-07-28 14:07] marcosrocha85 commented on #171
I think [this fiddle](https://jsfiddle.net/marcosrocha85/sL24hvxn/) can bring you some clue.

[2022-07-29 01:32] Shum1905 commented on #171
Seems great!!
Thank you very much!!

[2022-07-29 01:33] #171 closed, assigned to nobody

[2022-08-16 02:27] zhagnyu opened #172 "Checkbox is not working on board"
I think this is good kanban plugin, but there is an issue.
I added checkbox on each card of boards.
![image](https://user-images.githubusercontent.com/66617739/184784873-d332ca3d-6a57-4471-834a-68871f155f86.png)

I can check/uncheck these checkbox but checkbox status is not changed.
It is always showing unchecked.
![image](https://user-images.githubusercontent.com/66617739/184785262-399dfb9b-a7c6-

[2022-08-16 23:34] oCyex commented on #172
I have the same issue

[2022-08-17 02:35] marcosrocha85 commented on #172
Hello and thank you for using jKanban. Actually, when you change "checkbox DOM" aren't changing internal jKanban "DOM". So without some code you won't achieve that. Please take a look [at this fiddle](https://jsfiddle.net/marcosrocha85/42jpqL9y/42/) and let me know if you have any other question.

[2022-08-17 06:30] oCyex commented on #172
I see
Thank you for your answer

[2022-08-17 08:20] zhagnyu commented on #172
Thank you for your answer. But it is not easy to use because I have too many checkbox in kanban.
Anyway it will be helped for me.

[2022-08-17 08:30] oCyex commented on #172
I did a fake checkbox with css (just a button element);  When the user click on it, that toggle the data-id (true or false) and toggle a css class for the apparence.
And since after I parse the DOM, I store also this data-id.
It works for my use

[2022-08-22 05:02] zhagnyu commented on #172
link is not working.
You added a link in [this fiddle](https://jsfiddle.net/marcosrocha85/42jpqL9y/42/) second feature, but link is not working. I need your help again

[2022-08-22 11:32] marcosrocha85 commented on #172
What do you mean for "not working"? What is "second feature" for you?
jKanban is a Vanilla Javascript Kanban. Any feature must be implemented or pull requested. You need to be more clear.

[2022-08-26 07:52] Brecht272727 opened #173 "dropEl function for sorting boards"
Hi, is it possible to have a callback when we sort the boards. The same functionality we have in dropEl function for sorting the items. See below for the code i am using now for sorting the items.

        dropEl: function(el, target, source, sibling) {

          var _target = $(target.parentElement);
          var sorted = [];
          var nodes = kanban1.getBoardElements(_target.data("id"));

[2022-08-26 10:15] Brecht272727 opened #174 "Uncaught TypeError: Cannot read properties of undefined (reading 'dragTo')"
I am trying to make an ajax call with all boards and items inside. The data coming from the ajax is json and look like this:

[code]

And the JS for init the kanban:

[code]

But i got the error Uncaught TypeError: Cannot read properties of undefined (reading 'dragTo') in console?

[2022-08-26 16:58] Brecht272727 opened #175 "Header of kanban boards - adding a button"
Hi, is it possible to add something to the header with the title inside?
I want to add an edit button so we can change the title of the board via ajax.

I know it is possible to use this:

    itemAddOptions: {
        enabled: true,                                              // add a button to board for easy item creation
        content: '+',                                                // t

[2022-08-26 23:36] marcosrocha85 commented on #175
If you include bootstrap (or font-awesome) script AFTER your loading code. It should work. Remember, jKanban is a vanilla javascript plugin, so in order to make it work with another plugins (such as Font Awesome) you have to manage another plugin functions manually.

[2022-08-27 10:06] Brecht272727 commented on #175
Yes i know, i have loaded font awesome plugin. But it shows me the HTML like `<i class="fa fa-edit"></i>` instead of showing me the edit icon.
And can you tell me what about the other question: 'But this way i can't add an data-id attribute for knowing the board id.'

[2022-08-27 10:11] Brecht272727 commented on #173
I found this but don't know how to use it: https://github.com/riktar/jkanban/pull/28

I think it is something with this function but i don`t know how to use it:

[code]

If i can have the order of the boards is the most important! Something like we have here for the items:

[code]

[2022-08-27 14:37] Brecht272727 opened #176 "Footer button to add items on a specific board"
Hi, i use following function to add a footer button. I want this to add a new item for that specific board but i don't have the board ID.
If it can add an onclick like `onclick=\"add_item('"+boardId+"')` to the button it would be nice.

[code]

Maybe i can use this to add a footer button but this script shows only buttons in the header of the boards.

[code]

[2022-08-29 11:25] Brecht272727 opened #177 "HEX colors for boards headers"
Hi, is it possible to add a HEX color to the board header?
Now we use a class in the boards JSON but we need to add the color before in the css stylesheet.
It is better to have a different color attribute if we load the boards JSON.
Maybe there is a workaround?

[2022-09-01 07:14] qqe-app commented on #154
just a suggestion...

I suggest to use other effect for drag animation, eg add opacity / change border color of the card

today, we received a complaint of system lagging, because of this animation, so, we removed it

[2022-09-01 16:58] Brecht272727 commented on #84
IF we use this code we have a flashing effect on the reloaded div. It would be better to have a destroy API or reinit API without reloading this div. Now it is the same as doing a location.reload() function...

It can be used for editing or deleting boards or items and dataset is coming from database on ajax success.

[2022-09-01 17:32] Brecht272727 commented on #114
Is it possible to show a fiddle how to do? I have the same issue here...

So far i have this in a function:

[code]

[2022-09-02 09:08] Brecht272727 commented on #114
I found out myself how to do:

[code]

You have to define the background colors in your stylesheet if you want to use `$(kanban1.findElement(value.id)).addClass(value.background_color);`

[code]

OR you can use the other option `$(kanban1.findElement(value.id)).css("background-color", value.background_color);`
Then you don't have to use your stylesheet but add p.e. red in your database.

Add also

[2022-09-02 09:12] Brecht272727 commented on #174
I found out myself. It is because of the `"id": 1`. It has to be `"id": "1"` (See the double quotes around the numbers)

[2022-09-02 09:12] #174 closed, assigned to nobody

[2022-09-02 09:20] WriterStat commented on #176
Hi @Brecht272727,

itemAddOptions - only adds the options to the pre-existing Add item button when creating the JKanban object. Button can be in the footer or in the item stream.

buttonClick: function (el, boardId) { ...is the function you are looking for.

It is called when the Add Item button is clicked. It auto provides as a parameter the footer button's Board ID.

You fill in the code for it,

[2022-09-02 09:26] Brecht272727 commented on #176
Hi @WriterStat, thanks for your reply. But what to do if we want a header and footer button? We just have one `buttonClick` function?

[2022-09-02 10:21] WriterStat commented on #176
True, only the footer button is provided in the current jkanban lib by the author under open source, so you would have to:

Either:

 ... Fork the library and then add/fill in the code to the library.
 ... or manipulate the DOM etc... to get what you want. Then adding the code to your own external code.
 ... or you may be able hire the creator or others to add to the library. Hope I am not overste

[2022-09-02 11:01] WriterStat commented on #175
Hi @Brecht272727, Marcos

The JKanban Option : content: '+', appears to treat everything like text. At least it has for us. So adding HTML there might come out as text. Depending on what version of the library you have.

You may need to do this outside of the library. Just a heads up. Using the library as a base.

[2022-09-02 11:36] WriterStat commented on #173
Hi @Brecht272727,

Answer:

dragendBoard is basically called when you drop/stop dragging a board.

Each board gets an updated data-order attribute. You can interrogate the boards in the DOM for their data-order.

You have to take into consideration Boards can be dragged. And automatic reordering would break any user customization.

[2022-09-02 11:40] Brecht272727 commented on #175
Hi @WriterStat I have the latest version and it comes out as text. Thanks for the reply.
I will try to do this outside of the library.

[2022-09-02 11:40] #175 closed, assigned to nobody

[2022-09-03 13:20] marcosrocha85 commented on #175
That's I was trying to say. I had to develop every "custom" feature and used jKanban only as a main lib.

[2022-09-03 13:21] marcosrocha85 commented on #176
I added some features by pulling request jKanban. Pull requests are always welcome. =)

[2022-09-03 13:27] Brecht272727 commented on #176
@marcosrocha85: Can you tell what is changed?

[2022-09-03 13:28] marcosrocha85 commented on #173
That's I always send my fiddle to people here.
https://jsfiddle.net/marcosrocha85/Lk9t483r/

[2022-09-03 13:31] marcosrocha85 commented on #176
First thing WriterStat said is how you make a pull request in order to implement a feature you want and share with community. I said that most behavior I wanted, I developed and share through pull request.
You have 3 ways to make what you want, according to WriterStat, but you will have to code it because jKanban doesn't have exactly what you need.

[2022-09-03 13:32] Brecht272727 commented on #176
@WriterStat: I solved it outside of the library like you did. All working now! My goal is to make a kanban board for all salesmen. Boards are To call, 1 time called, 2 times called, Processed and Unreachable :-)
Everything is stored in mysql database. See my screenshot how it looks!

![image](https://user-images.githubusercontent.com/47247475/188272884-3772c8f6-6e95-4763-9067-4a72295353fb.png)

[2022-09-03 13:43] Brecht272727 commented on #173
My code how i solved this. With the ajax i saved the boards order in database:

[code]

[2022-09-03 13:44] #173 closed, assigned to nobody

[2022-09-03 13:45] #176 closed, assigned to nobody

[2022-09-03 19:12] Brecht272727 commented on #177
I found out myself how to do this. See the code below.
We send the boardId via the ajax to database and in success response we retrieve the `board_header_background_color` and `board_header_text_color`. It's all outside the library.

[code]

[2022-09-03 19:16] #177 closed, assigned to nobody

[2022-09-03 19:18] Brecht272727 commented on #170
I have the same issue when editing items, but for now i solved it with `location.reload()` function after editing. It is not the most elegant way but it works.
Maybe there is a better idea without the `location.reload()`. Something with reloading the container only instead of reloading the whole page?

[2022-09-07 15:09] WriterStat commented on #176
Looks great! And sounds great! Cheers, -C

[2022-10-23 03:57] WriterStat opened #178 "Browser context menu disabled - how to enable."
Browser right-click context menu seems to be disabled by default when right-clicking selected text in an item in a kanban list.

[2022-10-23 09:08] WriterStat commented on #178
I took a chance on trying this below...

propagationHandlers: [] // the specified callback does not cancel the browser event. possible values: "click", "context"

from the read-me file.

It worked to turn back on the browser context menu. Was confusing label for me as it sounded like I needed to specify propagationHandlers. Hope helps someone.

Could there be a simpler way to do this where it defa

[2022-10-23 09:08] #178 closed, assigned to nobody

[2022-10-25 09:31] stefanreimers commented on #166
In a slightly different usecase I used Custom Elements to solve this. I changed the code to not create a DIV Element when bootstrapping `.kanban-item` items, but a Web Component (added configuration options to defaults). This has to be done twice (in `addElement` and `addBoards` functions).  Furthermore I changed `__appendCustomProperties` to pass properties instead of `data-` attributes.

And the

[2022-10-28 05:49] WriterStat opened #179 "Which js minification software does jkanban use"
Hi, Thanks for some great kit.

I've made some modifications that are app specific.

Which js minification software does the jkanban project use? Thanks!

[2022-10-28 11:47] marcosrocha85 commented on #179
Hello there. You can run `npm run build` to build/minify your sources.

[2022-11-22 22:40] asimp51 commented on #177
There is a better way instead of ajax call again and again

[2022-11-27 20:22] fernandomirassol commented on #33
@marcosrocha85  estou implementando o Jkanban em um projeto e coloquei esta sua solução para a rolagem das Boards, funcionarão porém aqui na minha versão quando esta se arrastando o cartão a rolagem não acompanha, tem alguma solução para o caso?

[2022-11-27 23:46] marcosrocha85 commented on #33
Sorry buddy, you must write in english to help community. It's a dragula related issue. You can check something there bevacqua/dragula#121.